{{#with data}}
<form class="actor-sheet {{cssClass}} {{actor.type}} {{system.sheet_class}}" autocomplete="off">
    <div class="full-sheet">
    {{!-- Sheet Header --}}
    <div class="pop-up-lvl-container pop-up-container" id="popUp" {{#unless options.popUp}} style="display:none" {{/unless}}>
        <div class="background" data-action="close"></div>
        <div class="pop-up-lvl pop-up">
            <button class="close-button" data-action="close"><i class="fa fa-times"></i></button>
            <div>
                <h3>Points restant à répartir entre les pv et les pm : {{ptsPVAndPM}}</h3>
                <label>PV :</label>
                <input type="number" class="pts" min="0" max="{{maxNbPtsVie}}" name="system.health.pts" value="{{system.health.pts}}" data-dtype="Number"/>
                <label>PM : </label>
                <input type="number" class="pts" min="0" max="{{maxNbPtsMana}}" name="system.mana.pts" value="{{system.mana.pts}}" data-dtype="Number"/>
            </div>
            {{#forInRange (math system.basic_info.niveau "-" 1) as |system i|}}
            <h3>Level {{#math i "+" 2}} {{/math}}</h3>
            <div>
                <input type="radio" name="system.choix.lvl.{{i}}" value="compétence" {{{setChecked "compétence" (lookup system.choix.lvl @i)}}}>
                <label>5pts compétences</label>
                <input type="radio" name="system.choix.lvl.{{i}}" value="caractéristique" {{{setChecked "caractéristique" (lookup system.choix.lvl @i)}}}>
                <label>1pts caractéristique</label>
            </div>
            {{/forInRange}}
        </div>
    </div>
    <header class="sheet-header">
        <div class="left-panel">
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
            <div>
                <select name="system.sheet_class">
                    {{#customSelect system.sheet_class}}
                        <option value="rubis">Rubis</option>
                        <option value="emeraude">Emeraude</option>
                        <option value="saphir">Saphir</option>
                    {{/customSelect}}
                </select>
            </div>
            <div>
                <button {{#ifCond system.basic_info.niveau "<=" 1}} style="display:none" {{/ifCond}} class="open-button" data-action="open"><i class="fa fa-plus"></i></button>
                <input id="input-pop-up" style="display: none;" type="text" name="options.popUp" value="{{options.popUp}}" data-dtype="Number"/>
            </div>
        </div>
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
                <div>
                    <span>Lvl</span><input class= "niveau" name="system.basic_info.niveau" type="text" value="{{system.basic_info.niveau}}" placeholder="Niveau" data-dtype="Number"/>
                </div>
            </h1>

            <div>
                <div class="show info"><i class="fas fa-info-circle"></i></div>
                <div class="hide">Méditation : 2+lvl /heures</div>
            </div>
            <div class="ressources">
                {{> "systems/hunaleros/templates/actors/parts/ressources.html"}}
            </div>
            <div class="basic_info">
                {{> "systems/hunaleros/templates/actors/parts/basic_info.html"}}
            </div>
        </div>
    </header>

    <div data-group="primary">
        <div class="d-flex">
            <div id="caracteristiques">
                {{> "systems/hunaleros/templates/actors/parts/caracteristiques.html"}}
            </div>
            <div id="attributs">
                {{> "systems/hunaleros/templates/actors/parts/attributs_chiffres.html"}}
            </div>
            <div id="bonus">
                {{> "systems/hunaleros/templates/actors/parts/autre_bonus.html"}}
            </div>
        </div>
        <div id="competences">
            {{> "systems/hunaleros/templates/actors/parts/competences.html"}}
        </div>
        <div id="dons">
            {{> "systems/hunaleros/templates/actors/parts/dons.html"}}
        </div>
        <div id="donsEvolutif">
           {{> "systems/hunaleros/templates/actors/parts/dons_evolutifs.html"}}
        </div>

    </div>

    {{!-- Sheet Tab Navigation --}}
    <div id="autre">
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="inventaire">Inventaire</a>
            <a class="item" data-tab="equipements">Equipement</a>
            <a class="item" data-tab="defauts">Défauts</a>
            <a class="item" data-tab="notes">Notes</a>
            <a class="item" data-tab="biographie">Biographie</a>
        </nav>

        {{!-- Sheet Body --}}
        <section class="sheet-body">
            {{!-- Owned Items Tab --}}
            <div class="tab" data-group="primary" data-tab="inventaire">
                {{> "systems/hunaleros/templates/actors/parts/inventaire.html"}}
            </div>

            {{!-- Equiped inventaire Tab --}}
            <div class="tab" data-group="primary" data-tab="equipements">
               {{> "systems/hunaleros/templates/actors/parts/equipements.html"}}
            </div>

            {{!-- Défauts Tab --}}
            <div class="tab defauts" data-group="primary" data-tab="defauts">
                {{> "systems/hunaleros/templates/actors/parts/defaut.html"}}
            </div>

            {{!-- Notes Tab --}}
            <div class="tab notes" data-group="primary" data-tab="notes">
                {{editor system.notes target="system.notes" button=true owner=../owner editable=../editable}}
            </div>

            {{!-- Biographie Tab --}}
            <div class="tab biographie" data-group="primary" data-tab="biographie">
                {{editor system.biographie target="system.biographie" button=true owner=../owner editable=../editable}}
            </div>

        </section>
    </div>
    </div>
</form>
{{/with}}