{{#with data}}
<form class="actor-sheet {{cssClass}} {{actor.type}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
            <div class="ressources">
                <div class="pv">
                    <span>PV : </span>
                    <input type="text" name="system.health.value" value="{{system.health.value}}" data-dtype="Number"/>
                    <span> / </span>
                    <input type="text" name="system.health.max" value="{{system.health.max}}" data-dtype="Number"/>
                </div>
                <div class="pm">
                    <span>PM : </span>
                    <input type="text" name="system.mana.value" value="{{system.mana.value}}" data-dtype="Number"/>
                    <span> / </span>
                     <input type="text" name="system.mana.max" value="{{system.mana.max}}" data-dtype="Number"/>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div>
            <div class="colonnes">
                <div id="caracteristiques">
                    <h2>Caractéristiques</h2>
                    <table class="caracteristiques">
                        <tr>
                            <th>Force</th>
                            <td><input type="text" name="system.abilities.force" value="{{system.abilities.force}}" data-dtype="Number"/></td>
                            <th>Intelligence</th>
                            <td><input type="text" name="system.abilities.intelligence" value="{{system.abilities.intelligence}}" data-dtype="Number"/></td>
                        </tr>
                        <tr>
                            <th>Constitution</th>
                            <td><input type="text" name="system.abilities.constitution" value="{{system.abilities.constitution}}" data-dtype="Number"/></td>
                            <th>Sagesse</th>
                            <td><input type="text" name="system.abilities.sagesse" value="{{system.abilities.sagesse}}" data-dtype="Number"/></td>
                        </tr>
                        <tr>
                            <th>Dextérité</th>
                            <td><input type="text" name="system.abilities.dexterite" value="{{system.abilities.dexterite}}" data-dtype="Number"/></td>
                            <th>Charisme</th>
                            <td><input type="text" name="system.abilities.charisme" value="{{system.abilities.charisme}}" data-dtype="Number"/></td>
                        </tr>
                    </table>
                </div>
                <div id="statistiques">
                    <h2>Statistiques</h2>
                    <table class="statistiques">
                        <tr>
                            <th>RD</th>
                            <td><input type="text" name="system.statistiques.rd" value="{{system.statistiques.rd}}" data-dtype="Number"/></td>
                            <th>Initiative</th>
                            <td class="initiative">
                                <div class="d-flex">
                                    <input type="text" name="system.statistiques.initiative" value="{{system.statistiques.initiative}}"/>
                                    <span>{{malusInitiativeEncombrement}}</span>
                                    {{#if this.actor.isOwner}}<i title="Roll for initiative !" class="button fas fa-dice-d20"></i>{{/if}}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>RM</th>
                            <td><input type="text" name="system.statistiques.rm" value="{{system.statistiques.rm}}" data-dtype="Number"/></td>
                            <th>Déplacements</th>
                            <td><input type="text" name="system.statistiques.deplacement" value="{{system.statistiques.deplacement}}"/></td>
                        </tr>
                        <tr>
                            <th>Dés de vie</th>
                            <td class="pv_dices">
                                <div class="d-flex">
                                    <input type="text" name="system.statistiques.pv" value="{{system.statistiques.pv}}"/>
                                    {{#if this.actor.isOwner}}<i title="Roll for HP !" class="button fas fa-dice-d20"></i>{{/if}}
                                </div>
                            </td> 
                            <th>Autre</th>
                            <td>
                                <textarea id="system.statistiques.autre" name="system.statistiques.autre" cols="36" rows="3">{{system.statistiques.autre}}</textarea>
                            </td>   
                        </tr>
                    </table>
                </div>
            </div>
            <div id="capacite">
                <h2>Capacités</h2>
                {{editor system.capacite target="system.capacite" button=true owner=../owner editable=../editable}}
                <div> 
                    Robustesse
                    <select name="system.robustesse" style="margin-left: 5px">
                    {{#customSelect system.robustesse}}
                        <option value="">-</option>
                        {{#each charge_npc as |charge key|}}
                        <option value="{{key}}">{{charge.label}}</option>
                        {{/each}}
                    {{/customSelect}}
                    </select>
                </div>
                <div class="flight">
                    <div class="flight-control" data-action="sort">
                        <span>Vol :</span>
                        <i class="fas {{#if options.flight}}fa-dove{{else}}fa-minus{{/if}}"></i>
                        <input id="input-flight-control" style="display: none;" type="text" name="options.flight" value="{{options.flight}}" data-dtype="Number"/>
                    </div>
                    {{#if options.flight}}
                    <div>
                        Double les cases de déplacements. En contrepartie, l’attaquant, au corps-à-corps, bénéficie d'un bonus de dégâts de 1D6. Tout comme athlétisme, le vol est assujetti aux malus d'armure.
                    </div>
                    {{/if}}
                </div>
            </div>
            <div id="competences">
                <h2>Compétences (Score total)</h2>
                {{#if system.competences_old}}
                <textarea id="system.competences" name="system.competences_old" cols="36" rows="15">{{system.competences_old}}</textarea>
                {{/if}}
                {{> "systems/hunaleros/templates/actors/parts/competences.html"}}
            </div>
            <nav class="sheet-tabs tabs" data-group="primary">
                <a class="item" data-tab="inventaire">Inventaire</a>
                <a class="item" data-tab="autre">Autre</a>
                <a class="item" data-tab="description">Description</a>
            </nav>
            <section class="sheet-body">
                <div id="inventaire" class="tab" data-group="primary" data-tab="inventaire">
                    <div class="tab">
                        {{> "systems/hunaleros/templates/actors/parts/inventaire.html"}}
                    </div>
                </div>
                <div id="autre" class="tab" data-group="primary" data-tab="autre">
                    {{editor system.autre target="system.autre" button=true owner=../owner editable=../editable}}
                </div>
                <div id="description" class="tab" data-group="primary" data-tab="description">
                    {{editor system.description target="system.description" button=true owner=../owner editable=../editable}}
                </div>
            </section>
        </div>
    </section>
</form>
{{/with}}