{{#with data}}
<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <table class="resource">
                <tr>
                    <td>
                    	<label>Taille</label>
                        <input type="text" name="system.taille" value="{{system.taille}}" data-dtype="String" placeholder="1 mètre"/>
                    </td>
                    <td>
                    	<label>Poids (Kg)</label>
                        <input type="text" name="system.poids" value="{{system.poids}}" data-dtype="Number" placeholder="10"/>
                    </td>
                    <td>
                        <label>Emplacements</label>
                        <input type="text" name="system.emplacements" value="{{system.emplacements}}" data-dtype="Number" placeholder="Trop grand"/>
                    </td>
                    <td>
                    {{#unless ../limited}}
                        <label>Valeur</label>
                        <input type="text" name="system.valeur" value="{{system.valeur}}" data-dtype="String" placeholder="50 PO"/>
                    {{/unless}}
                    </td>
                </tr>
            </table>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <section class="sheet-body">
        <div>
            <textarea class="item-utilisation" id="system.utilisation" name="system.utilisation" cols="36" rows="5" placeholder="Utilisation de l'item">{{system.utilisation}}</textarea>
        </div>
        <div>
            <textarea class="item-description" id="system.description" name="system.description" cols="36" rows="5" placeholder="Description de l'item">{{system.description}}</textarea>
        </div>
    </section>
</form>
{{/with}}