{{#with data}}
<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <table class="resource">
                <tr>
                    <td>
                    	<label>Rang</label>
                        <input type="text" name="system.rang" value="{{system.rang}}" data-dtype="Number" placeholder="1"/>
                    </td>
                    <td>
                    	<label>Coût</label>
                        <input type="text" name="system.cout" value="{{system.cout}}" data-dtype="String" placeholder="10pm"/>
                    </td>
                    <td>
                        <label>Portée</label>
                        <input type="text" name="system.portee" value="{{system.portee}}" data-dtype="String" placeholder="5 mètres"/>
                    </td>
                    <td>
                        <label>Type</label>
                        <input type="text" name="system.type" value="{{system.type}}" data-dtype="String" placeholder="Zone de type 2"/>
                    </td>
                </tr>
            </table>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <section class="sheet-body">
        <div>
            <textarea class="spell-defense" id="system.defense" name="system.defense" cols="36" rows="5" placeholder="Défense">{{system.defense}}</textarea>
        </div>
        <div>
            <textarea class="spell-description" id="system.description" name="system.description" cols="36" rows="5" placeholder="Description du sort">{{system.description}}</textarea>
        </div>
    </section>
</form>
{{/with}}