#attributs {
  th, td {
    &:nth-child(1) {
      text-align: left;
    }
  }

  .initiative i {
    float: right;
    font-size: 1.3em;
    cursor: pointer;
  }
  
  padding: 0 5px;
  flex: 0 0 35%;
}