#autre {
  .tabs {
    height: 40px;
    border-top: 1px solid currentColor;
    border-bottom: 1px solid currentColor;
    flex: auto;
    margin: 4px 0;
    line-height: initial;
    background-color: #000000;
    padding: 0;

    * {
      line-height: 40px;
      font-weight: bold;
      flex: 1 0 auto;
      font-size: inherit;
      color: inherit;
      margin: 0;
      padding: 0;
    }

    .active {
      text-decoration: underline;
      text-shadow: none;
    }
  }

  .sheet-body {
    overflow: hidden;
    .tab {
      height: 100%;
      min-height: 600px;
      overflow-y: auto;
    }

    .tab.biographie, .tab.notes, .tab.defauts {
      background-color: rgba(0,0,0,0.4);
      box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.4);
      margin: 5px;
      padding: 3px;
    }
  }

  .equipements {
    select {
      width: 100px;
    }
    ul, li {
        background-color: transparent;
    }
  }
  
  .defauts {
    .defaut-precision{
      width: 300px;
    }
  }
}