#caracteristiques {
  div {
    text-align: center;
    position: relative;
    span:last-child {
      font-size: 2em;
    }
    span:first-child {
      bottom: 0;
      position: absolute;
      left: 0;
    }
  }
  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  ul {
    margin-top: 5px;
  }
  li {
    padding: 7px 0;
    border-width: 1px 1px 0;
    border-style: solid;
    &:last-child {
      border-bottom-width : 1px;
    }
  }

  h3{
    font-family: "Modesto Condensed", "Palatino Linotype", sans-serif;
    font-size: 1.4em;
    letter-spacing: 0.03em;
    font-weight: bold;
    border-bottom: 1px solid #FFFFFF22;
    padding: 0 0 2px;
    width: 85%;
    margin: 0 auto 5px;
  }

  width: 115px;
  margin: 0 5px;
  flex: 0 0 115px;
}