.actor-sheet.character {
  @import "attributs.less";
  @import "bonus.less";
  @import "caracteristiques.less";
  @import (multiple) "competences.less";
  @import "don_evo.less";
  @import "dons.less";
  @import (multiple) "sheet-header.less";
  .sheet-header .ressources {
    background-color: #00000066;
  }
  @import (multiple) "inventaire.less";
  @import "bottom_part.less";

  @import "rubis.less";
  @import "emeraude.less";
  @import "saphir.less";

  background-color: black;
  &::placeholder {
    color: inherit;
    background-color: black;
    font-family: sans-serif;
    font-size: 1em;
    opacity: 0.6;
  }

  td, th {
    border: 1px solid #666666;
  }

  h3 {
    border: none;
    font-size: initial;
  }

  input, select, textarea, option, optgroup {
    color: inherit;
    background-color: black;
    font-family: sans-serif;
    font-size: 1em;
  }

  .pop-up input {
    background-color: white;
    &.pts {
      width: 30px;
      min-width: 0;
      margin-left: 0;
      margin-right: 1em;
    }
  }

  tr {
    background-color: #000000;
    &:nth-child(2n) {
      background-color: #111111;
    }
  }

  .img_titre {
    border: 0;
    border-radius: 0;
    height: 55px;
    padding-top: 5px;
    margin-bottom: -5px;
  }

  .indicateurs_pts {
    padding: 5px 10px;
    display: inline-block;
    margin: -1px 0;
    background-color: #00000088;
    box-shadow: 0px 0px 3px 2px #00000088;
  }
}