ul.competences.titre {
  margin-top : 0.5em;
  li {
    display: inline-flex;
    align-items: center;
    padding-left: 5px;
    div {
      flex: 0 0 50px;
      &:first-child {
        flex: 1 1 auto;
      } 
    }
  }
}

#competences {
  list-style: none;
  .competence-control .fa-minus {
    font-size: 0.7em;
  }

  .show {
    padding: 10px 5px;
  }

  .hide {
    padding: 10px 5px;
    width: 250px;
    z-index: 1;
    height: 36px;
  }

  ul {
    columns: 4;
    max-height: 565px;
    margin: 0;
    padding: 0;
    position: relative;
    &.titre {
      height: 36px;
    }
    li {
      min-height: 36px;
      width: 100%;
      list-style: none;
      &:not(:last-child) {
        position: relative;
      }
      &>div {
        display: inline-block;
        width: 40px;
        padding: 0px;
        &:nth-child(2) {
          border-style: solid;
          border-width: 0 1px;
          border-color: inherit;
        }
        &:first-child {
          width: calc(100% - 100px);
          text-align: left;
          padding: 10px 0;
        }
      }
    }
  }
}