#donsEvolutif {  
  @background_opacity: 40%;

  padding: 0 5px;

  .passif {
    background-color: fade(@passif, @background_opacity);
  }

  .heal {
    background-color: fade(@heal, @background_opacity);
  }

  .damage {
    background-color: fade(@damage, @background_opacity);
  }

  .buff {
    background-color: fade(@buff, @background_opacity);
  }

  .debuff {
    background-color: fade(@debuff, @background_opacity);
  }

  .autre {
    background-color: fade(@autre, @background_opacity);
  }

  .passif_situationnel {
    background-color: fade(@passif_situationnel, @background_opacity);
  }

  .invocation {
    background-color: fade(@invocation, @background_opacity);
  }

  .reaction {
    background-color: fade(@reaction, @background_opacity);
  }

  .select {
    text-align: center;
  }

  .tabs {
    height: 40px;
    border-top: 1px solid currentColor;
    border-bottom: 1px solid currentColor;
    flex: auto;
    margin: 4px 0;
    line-height: initial;
    background-color: #000000;
    * {
      line-height: 40px;
      font-weight: bold;
      flex: 1 0 auto;
      font-size: inherit;
      color: inherit;
      margin: 0;
    }
    .active {
      text-decoration: underline;
      text-shadow: none;
    }
  }
  
  table.don_evo {
    text-shadow: black 2px 0px 0px, black 1.75517px 0.958851px 0px, black 1.0806px 1.68294px 0px, black 0.141474px 1.99499px 0px, black -0.832294px 1.81859px 0px, black -1.60229px 1.19694px 0px, black -1.97999px 0.28224px 0px, black -1.87291px -0.701566px 0px, black -1.30729px -1.51361px 0px, black -0.421592px -1.95506px 0px, black 0.567324px -1.91785px 0px, black 1.41734px -1.41108px 0px, black 1.92034px -0.558831px 0px;
    background-image: url('../images/magies/dices.jpg');
    color: white;
    padding-bottom: 10px;

    select {
      color: white;
    }

    th {
      position: relative;
      border: 0;
      flex: 1;
      background-color: #000;
      color: white;
      >div {
        position: absolute;
        right: 5px;
        top: 5px;
      }
      .info {
      font-weight: bold;
      font-size: 2em;
      }
      .hide {
        width: 200px;
        z-index: 1;
      }
    }

    tr {
      &:nth-child(2n) {
        background-color: transparent;
        font-weight: bold;
      }

      &:nth-child(2n+1) {
        background-color: transparent;
        display: flex;
      }
    }

    td {
      border: 0;
      flex: 1;
      position: relative;
      div {
        margin: 0;
      }
    }

    .header {
      margin: 0;
      display: flex;

      h4 {
        flex: 1 1 auto;
        font-weight: bold;
        font-size: 1.12em;
      }
      .properties {
        display: inline-flex;
        font-weight: normal;
        margin: 0;
        font-size: 0.85em;
        flex-direction: column;
      }
    }

    tr {
      &:not(.rang){
        .header {
          margin: 0;
        }
      }
      &.titre td {
        padding: 10px 0;
        text-align: center;
      }
      &:nth-child(2n+1):not(.selector) {
        padding: 5px 10px;
      }
      &.rang{
        td {
          text-align: justify;
        }
        &:nth-child(2n+1) td {
          border: 1px solid;
          margin: 0 5px;
          border-radius: 10px;
          background-color: #FFFFFF30;
          padding: 0;
          overflow: hidden;
        }
        .header {
          flex-direction: column;
          h4 {
            padding: 6px 0;
            text-align: center;
            margin: 0;
          }
          .properties {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            border-bottom: 1px solid;
            border-top: 1px solid;
            padding: 3px 0;
            &>div {
              flex: 0 1 auto;
              margin: 4px 10px;
            }
          }
        }
        .description {
          padding: 5px 8px;
          opacity: 0.95;
        }
        .properties {
          padding: 5px 7px 2px;
        }
      }
    }

    &.magie {
      tr {
        background-color: transparent;
        color: inherit;        
      }
    }
  }
}