&.emeraude {
  .full-sheet {
    background-image: url('../images/actor-sheet/emeraude/background.jpg');
    background-size: contain;
    color: #53ca6d;
  }

  td, th, tr, li, ul {
    border-color: #074e07;
  }

  .hide {
    border-color: #074e07;
    background-color: #339966;
    color: #b8ffcf;
    background-color: #003333CC;
  }

  table:not(#basic_info, .don_evo) th, .titre li {
    background-color: #137946;
    color: #b8ffcf;
  }

  input:focus, select:focus {
    box-shadow: 0 0 5px #006600;
  }

  tr, ul:not(.titre) li {
    background-color: #002929;
    &:nth-child(2n) {
      background-color: #111111;
    }
  }

  &::placeholder {
    color: #356111;
  }

  input.pts {
    border-color: #35611199;
  }

  h2 {
    border-bottom-color: #2e5210;
  }

  .notes {
    color: #53ca6d;
  }
}