@font-face {
  font-family: 'Modesto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../../../fonts/modesto-condensed/modesto-condensed.woff2') format('woff2');
}

@font-face {
  font-family: 'Modesto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('../../../fonts/modesto-condensed/modesto-condensed-bold.woff2') format('woff2');
}

@passif: #666666;
@heal: #0a5d0a;
@damage: #8e0c0c;
@buff: #687d11;
@debuff: #c7662d;
@autre: #000000;
@passif_situationnel: #5985d6;
@invocation: #7632a5;
@reaction: #FFFF99;

.hunaleros.sheet {
  @import "NPC.less";
  @import "character.less";
  @import "items.less";

  &.actor {
    min-width: 1200px;
    min-height: 720px;
  }
  &.item {
    min-width: 460px;
    min-height: 400px;
  }


  input[type="number"] {
    min-width: 45px;
    text-align: right;
    margin-left: 10px;
  }

  .bold {
    font-weight: bold;
  }

  .button {
    cursor: pointer;
  }

  .editor {
    .tox {
      background-color: white;
    }
    &, .editor-content {
      height: 100%;
      min-height: 600px;
    }
  }

  .window-content {
    height: 100%;
    padding: 0px;
    background-color: black;
    background-image: unset;
    >form {
      padding: 5px;
      &:not(.character) {
        background-color: #dedad2;
        background-image: url(../images/actor-sheet/parchment.jpg);
        background-repeat: repeat;
      }
    }
  }

  .hide {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    padding: 5px;
    right: 0;
    border: 1px solid grey;
  }

  .show {
    cursor: pointer;
    &:hover +.hide {
      display: block;
    }
  }

  .pop-up-container {
    position: absolute;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    .background {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.5);
    }
  }

  .pop-up {
    background-color: white;
    color: black;
    position: relative;
    padding: 2em 2em 1em;
    margin: auto;
    div {
      margin-bottom: 1.5em;
    }

    .close-button {
      width: 50px;
      position: absolute;
      right: -20px;
      top: -20px;
      border: 1px solid currentColor;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border-radius: 100%;
      background-color: white;
      i {
        margin: 0;
        font-size: 25px;
        line-height: 30px;
        line-height: 48px;
      }
    }
  }

  .actor-sheet {
    font-family: sans-serif;
    text-align: center;
    margin: -5px;
  }

  table {
    border-collapse: collapse;
  }

  .full-sheet {
    padding: 5px;
  }

  .disabled {
    opacity: 0.5;
  }

  td, th {
    padding: 5px;
    text-align: center;
  }

  input.pts {
    width: 2em;
    border: 1px dashed currentColor;
    &::placeholder {
      opacity: 100%;
      color: currentColor;
    }
  }

  .po {
    color: #BF9F00;
  }

  .pa {
    color: #999999;
  }

  .pc {
    color: #996600;
  }

  .colonnes {
    display: flex;
    & > div {
      flex: 0 1 50%;
      &:first-child {
        border-right: 1px solid;
      }
    }
  }

  .colonne {
    display: inline-block;
    width: 50%;
    padding: 0 5px;
  }

}

.d-flex {
  display: flex;
}

