.items {
  .item-value {
    width: 55px;
  }

  .item-poids {
    width: 50px;
  }

  .item-emplacements {
    width: 110px;
  }

  input {
    margin-left: 0px;
  }

  .po, .pa, .pc{
    input.pts {
      width: 4em;
    }
  }
  .money {
    display: flex;
    #argent {
      flex: 1 0 auto;
    }
    .buy_sell {
      display: flex;
      div {
        padding: 0 5px;
        button {
          color: unset;
          border: none;
          font-size: 2em;
          padding: 5px;
          cursor: pointer;
        }
      }
    }
  }
}

.pop-up .pts {
 width: 150px;
}