&.item {
    header.sheet-header img {
        flex: 0 0 125px;
        height: 125px;
        margin: 0 6px 6px 0;
    }

    header.sheet-header h1 input {
        height: 48px;
        line-height: 48px;
        text-align: center;
        margin: 0;
        width: 100%;
    }

}