.actor-sheet.npc {
  @import (multiple) "sheet-header.less";
  @import (multiple) "inventaire.less";
  @import (multiple) "competences.less";

  background-color: #dedad2;
  background-image: url(../images/actor-sheet/parchment.jpg);
  background-repeat: repeat;
  margin: 0;
  .items {
    td, th {
      padding: 5px;
      text-align: center;
      border: 1px solid #666666;
    }

    .item-value {
      width: 55px;
    }

    .item-poids {
      width: 50px;
    }

    .item-emplacements {
      width: 110px;
    }

    input {
      margin-left: 0px;
    }
  }

  .statistiques {
    th, td {
      padding: 5px;
    }
    .d-flex {
      align-items: center;
      i {
        font-size: 1.5em;
        padding-left: 5px;
      }
    }
  }

  textarea {
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    border: 0;
  }

  h2, nav > * {
    background-color: #333333;
    border: 0;
    color: white;
    padding: 4px 0;
    margin: 0;
    text-align: center;
    width: 100%;
  }

  .npc-data>tbody>tr {
    >th, >td {
      padding: 0;
      border: 1px solid black;
    }

    >td {
      background: rgba(0, 0, 0, 0.05);
    }
  }

  h1 {
    text-align: center;
  }

  table {
    margin: 0;
    border: 0;
  }

  .capacite_autre {
    text-align: left;
    >div {
      display: flex;
      align-items: center;
      padding: 5px;
    }
  }

  .editor, .editor-content {
    min-height: 200px;
  }

  #capacite .editor {
    &, .editor-content {
      min-height: 30px;
    }
    .tox {
      min-height: 300px;
    }
  }

  nav {
    font-size: 1.4em;
    height: unset;
    .active {
      text-decoration: underline;
      text-shadow: none;
    }
  }
  .pop-up h2 {
    background-color: unset;
    color: unset;
  }
}