&.rubis {
  .full-sheet {
    background-image: url('../images/actor-sheet/rubis/background.jpg');
    background-size: contain;
    color: #cc9900;
  }

  td, th, tr, li, ul {
    border-color: #591202;
  }

  .hide {
    border-color: #591202;
    background-color: #330000;
    color: #ffff82;
    background-color: #000000CC;
  }

  table:not(#basic_info, .don_evo) th, .titre li {
    background-color: #330000;
    color: #ffff82;
  }

  input:focus, select:focus {
    box-shadow: 0 0 5px #880000;
  }

  tr, ul:not(.titre) li {
    background-color: #000000;
    &:nth-child(2n) {
      background-color: #111111;
    }
  }

  &::placeholder {
    color: #8c6900;
  }

  input.pts {
    border-color: #8c690099;
  }

  .notes {
    color: #cc9900;
  }
}