&.saphir {
  .full-sheet {
    background-image: url('../images/actor-sheet/saphir/background.jpg');
    background-size: contain;
    &, .notes {
      color: #aaffff;
    }
  }

  td, th, tr, li, ul {
    border-color: #113977;
  }

  .hide {
    border-color: #336699;
    background-color: #004586;
    color: #ccffff;
    background-color: #000033CC;
  }

  table:not(#basic_info, .don_evo) th, .titre li {
    background-color: #004586;
    color: #ccffff;
  }

  input:focus, select:focus {
    box-shadow: 0 0 5px #0084d1;
  }

  tr, ul:not(.titre) li {
    background-color: #00103A;
    /*#00103A*/
    &:nth-child(2n) {
      background-color: #001E59;
      /*#001E59*/
    }
  }

  &::placeholder {
    color: #5f8080;
  }

  input.pts {
    border-color: #5f808099;
  }

  h2 {
    border-bottom-color: #406161;
  }
}