.sheet-header {
  &, & input, & select {
    font-family: "Modesto Condensed", "Palatino Linotype", sans-serif;
    font-size: 1.15em;
  }
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
  position: relative;
  .left-panel {
    flex: 0 0 100px;
    margin-right: 10px;
    select {
      font-size: 12px;
      height: 18px;
      margin-top: 2px;
      color: #666;
      width: 100%;
    }
  }

  .profile-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: 50% 0;
  }

  .header-fields {
    flex: 1;
    .info {
      position: absolute;
      top: 0;
      right: 0;
      margin: 5px;
      font-weight: bold;
      font-size: 2em;
    }
    >div {
      &>.info {
        top: 64px;
      }
      &>.hide{
        margin-top: 45px;
        z-index: 1;
      }
    }

  }


  .basic_info {
    ul#basic_info {
      border-width: 1px 0px;
      border-style: solid;
      padding: 5px;
      display: flex;
      list-style: none;
      background-color: #000000AA;
      li {
        &:first-child {
          border : 0;
        }
        border-width: 0 0 0 1px;
        border-style: solid;
        background-color: transparent;
      }
    }
    input, select {
      background: none;
      border: 1px solid transparent;
      &:hover {
        border: 1px solid #111;
      }
      &:focus {
        background-color: black;
      }
      &::placeholder {
        opacity: 80%;
        color: currentColor;
      }
    }
    .age, .poid, .taille, .sexe {
      flex: 0 0 100px;
    }
    .metier, .religion {
      flex: 0 0 200px;
      select {
        width: calc(100% - 35px);
      }
    }
    .race {
      flex: 1 1 auto;
    }
  }



  .relative {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    select {
      margin: auto;
    }

    .info {
      margin: -1px 6px;
      position: relative;
      font-size: 1.5em;
    }

    .hide {
      top: calc(100% + 5px);
      padding: 10px;
    }
  }

  .religion .relative .hide {
    width: 500px;
    right: -5px;
  }

  h1.charname {
    height: 50px;
    padding: 0px;
    margin: 5px 0;
    border-bottom: 0;
    text-align: left;
    display: flex;
    input {
      text-align: center;
      height: 100%;
      margin: 0;
      width: calc(100% - 5px);
      &.niveau {
        min-width: 50px;
        margin-left: 5px;
      }
    }
    div {
      display: flex;
      margin-left: 5px;
      flex: 0;
      span {
        font-size: 1.3em;
      }
    }
  }

  .ressources {
    height: 45px;
    padding-top: 10px;
    text-align: center;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
    input {
      width: 70px;
      height: 28px;
    }
  }

  .open-button {
    width: 32px;
    background-color: white;
    border: 1px solid;
    margin-top: 5px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    i {
      margin: 0;
      font-size: 25px;
      line-height: 30px;
    }
  }
}