<h2>{{{titreImage "Attributs_chiffres"}}}</h2>
<table class="attributs">
    <tr>
        <th>Attribut</th>
        <th>Total</th>
        <th>Actuel</th>
    </tr>
    <tr>
        <td>Points de vie temporaires</td>
        <td>{{system.attributs_chiffre.pv_temp.max}}</td>
        <td><input class="pts" type="text" name="system.attributs_chiffre.pv_temp.value" value="{{system.attributs_chiffre.pv_temp.value}}" data-dtype="Number"/></td>
    </tr>
    <tr>
        <td>Points de souffle</td>
        <td>{{system.attributs_chiffre.pts_souffle.max}}</td>
        <td><input class="pts" type="text" name="system.attributs_chiffre.pts_souffle.value" value="{{system.attributs_chiffre.pts_souffle.value}}" data-dtype="Number"/></td>
    </tr>
    <tr>
        <td class="initiative">
            Initiative
            {{#if this.actor.isOwner}}<i title="Roll for initiative !" class="button fas fa-dice-d20"></i>{{/if}}
        </td>
        <td colspan="2">{{system.attributs_chiffre.initiative}}</td>
    </tr>
    <tr>
        <td>Régénération de vie</td>
        <td colspan="2">{{system.attributs_chiffre.regen_pv}}D{{system.attributs_chiffre.D_regen_pv}}</td>
    </tr>
    <tr>
        <td>Régénération de mana</td>
        <td colspan="2">{{system.attributs_chiffre.regen_pm}}D{{system.attributs_chiffre.D_regen_pm}}</td>
    </tr>
    <tr>
        <td>Vitesse de déplacement</td>
        <td colspan="2">{{system.attributs_chiffre.deplacement}} cases</td>
    </tr>
    {{#each system.attributs_chiffre.dmg_cac}}
    <tr>
        <td>Dégats {{this.label}}</td>
        <td colspan="2">
            <div>{{this.dmg}}</div>
            <div>crit sur {{this.critique}}</div>
            <div>PA : {{this.PA}}</div>
            <div>portee : {{this.portee}}</div>
        </td>
    </tr>
    {{/each}}
    <tr>
        <td>RD et RM</td>
        <td>{{system.attributs_chiffre.RD}}</td>
        <td>{{system.attributs_chiffre.RM}}</td>
    </tr>
</table>