<h2>{{{titreImage "Autres_bonus"}}}</h2>
<table class="bonus">
    <tr>
        <th>Bonus</th>
        <th>Effet</th>
    </tr>
    <tr>
        <td>Bonus de force</td>
        <td>{{bonus_force}}</td>
    </tr>
    <tr>
        <td>Bonus de charisme</td>
        <td>{{{motivation}}}</td>
    </tr>
    <tr>
        <td>Métier</td>
        <td>
        {{#with  (lookup metiers system.basic_info.metier)~}}
        {{description_bonus}}
        {{/with}}
        </td>
    </tr>
    <tr>
        <td>Langues</td>
        <td>
        {{languesRace}}
        {{#forInRange (nbLangues) as |system i|}}
            <select name="system.langues.langue{{i}}">
            {{#selectComplexe system.langues 'langue' i}}
                <option value="">-</option>
            {{#each langues as |langue key|}}
                <option value="{{key}}">{{langue}}</option>
            {{/each}}
            {{/selectComplexe}}
            </select>
        {{/forInRange}}
        </td>
    </tr>
    {{#forInRange (nbTraitsRacial) as |system i|}}
    <tr>
        <td>Trait racial</td>
        <td>
            <select name="system.basic_info.trait_racial.trait{{i}}">
                {{#selectComplexe system.basic_info.trait_racial 'trait' i}}
                    <option value="">-</option>
                {{#eachTraitRacial as |trait key|}}
                    <option value="{{key}}">{{trait.label}}</option>
                {{/eachTraitRacial}}
                {{/selectComplexe}}
            </select>
            <div>{{{parsingDescriptionParNiveau (descriptionTraitRacial i) system.basic_info.niveau}}}</div>
            {{#ifChoix (lookupTrait i)}}
            <div>
                {{#each this.choix as |c key|}}
                <select name="system.choix.traits.{{i}}.{{key}}">
                    {{#customSelect (lookup (lookup ../../this.system.choix.traits i) key)}}
                    <option value="">-</option>
                    {{#eachChoixTrait this ../this as |id choix|}}
                    <option value="{{id}}">{{choix.label}}</option>
                    {{/eachChoixTrait}}
                    {{/customSelect}}
                </select>
                {{/each}}
            </div>
            {{/ifChoix}}
        </td>
    </tr>
    {{/forInRange}}
    {{#if (can_fly)}}
    <tr class="flight">
        <td colspan="2" style="text-align: center;">
            <div class="flight-control" data-action="sort">
                <span>Vol :</span>
                <i class="fas {{#if options.flight}}fa-dove{{else}}fa-minus{{/if}}"></i>
                <input id="input-flight-control" style="display: none;" type="text" name="options.flight" value="{{options.flight}}" data-dtype="Number"/>
            </div>
            {{#if options.flight}}
            <div>
                En contrepartie, l’attaquant, au corps-à-corps, bénéficie d'un bonus de dégâts de 1D6. Tout comme athlétisme, le vol est assujetti aux malus d'armure.
            </div>
            {{/if}}
        </td>
    </tr>
    {{/if}}
    {{#if (autreBonusRace)}}
    <tr>
        <td>Autres Bonus Race</td>
        <td>
            <div>{{{parsingDescriptionParNiveau (autreBonusRace) system.basic_info.niveau}}}</div>
            {{#ifChoix (lookup races system.basic_info.race)}}
            <div>
                {{#each this.choix as |choix key|}}
                <select name="system.choix.race.{{key}}">
                    {{#customSelect (lookup ../../this.system.choix.race key)}}
                    <option value="">-</option>
                    {{#eachChoixTrait this ../this.system as |id choix|}}
                    <option value="{{id}}">{{choix.label}}</option>
                    {{/eachChoixTrait}}
                    {{/customSelect}}
                </select>
                {{/each}}
            </div>
            {{/ifChoix}}
            {{#if (need_daylight_control)}}
            <br>
            <div class="daylight-control" data-action="sort">
                <span>Moment de la journée :</span>
                <i class="fas {{#if options.daylight}}{{#ifCond options.daylight "==" 1}}fa-minus{{else}}fa-moon{{/ifCond}}{{else}}fa-sun{{/if}}"></i>
                <input id="input-daylight-control" style="display: none;" type="text" name="options.daylight" value="{{options.daylight}}" data-dtype="Number"/>
            </div>
            {{/if}}
        </td>
    </tr>
    {{/if}}
</table>