<ul id="basic_info">
    <li class="race">
        <select name="system.basic_info.race">
            {{#customSelect system.basic_info.race}}
            {{#each races as |race key|}}
                <option value="{{key}}">{{race.label}}</option>
            {{/each}}
            {{/customSelect}}
        </select>
    </li>
    <li class="sexe"><input name="system.basic_info.sexe" type="text" value="{{system.basic_info.sexe}}" placeholder="Sexe"/></li>
    <li class="age"><input name="system.basic_info.age" type="text" value="{{system.basic_info.age}}" placeholder="Age"/></li>
    <li class="taille"><input name="system.basic_info.taille" type="text" value="{{system.basic_info.taille}}" placeholder="Taille"/></li>
    <li class="poid"><input name="system.basic_info.poid" type="text" value="{{system.basic_info.poid}}" placeholder="Poid"/></li>
    <li class="metier">
        <div class="relative metier">
            <select name="system.basic_info.metier">
                {{#customSelect system.basic_info.metier}}
                    <option value="">-</option>
                {{#each metiers as |metier key|}}
                    <option value="{{key}}">{{metier.label}}</option>
                {{/each}}
                {{/customSelect}}
            </select>
            {{#with  (lookup metiers system.basic_info.metier)~}}
                <div class="show info"><i class="fas fa-question-circle"></i></div>
                <div class="hide">
                    <div>{{description}}</div>
                </div>
            {{/with}}
        </div>
    </li>
    <li class="religion">
        <div class="relative religion">
            <select name="system.basic_info.religion">
                {{#customSelect system.basic_info.religion}}
                <option value="">-</option>
                {{#each divinites as |divinite key|}}
                <option value="{{key}}">{{divinite.label}}</option>
                {{/each}}
                {{/customSelect}}
            </select>
            {{#with (lookup divinites system.basic_info.religion)~}}
            <div class="show info"><i class="fas fa-question-circle"></i></div>
            <div class="hide">
                <h3 class="bold">{{theme}}</h3>
                <div>{{description}}</div>
            </div>
            {{/with}}
        </div>
    </li>
</ul>