{{#ifCond (nbPtsCarac) "!=" 0}}<span class="indicateurs_pts">nb pts : {{nbPtsCarac}}</span>{{/ifCond}}
<ul class="caracteristiques">
    <li>
        <h3>Force</h3>
        <div>
            <span><input type="text" class="pts" name="system.abilities.force.pts" value="{{system.abilities.force.pts}}" data-dtype="Number"/></span>
            <span>{{system.abilities.force.value}}</span>
        </div>
    </li>
    <li>    
        <h3>Intelligence</h3>
        <div>
            <span><input type="text" class="pts" name="system.abilities.intelligence.pts" value="{{system.abilities.intelligence.pts}}" data-dtype="Number"/></span>
            <span>{{system.abilities.intelligence.value}}</span>
        </div>
    </li>
    <li>
        <h3>Constitution</h3>
        <div>
            <span><input class="pts" type="text" name="system.abilities.constitution.pts" value="{{system.abilities.constitution.pts}}" data-dtype="Number"/></span>
            <span>{{system.abilities.constitution.value}}</span>
        </div>
    </li>
    <li>
        <h3>Sagesse</h3>
        <div>
            <span><input class="pts" type="text" name="system.abilities.sagesse.pts" value="{{system.abilities.sagesse.pts}}" data-dtype="Number"/></span>
            <span>{{system.abilities.sagesse.value}}</span>
        </div>
    </li>
    <li>
        <h3>Dextérité</h3>
        <div>
            <span><input class="pts" type="text" name="system.abilities.dexterite.pts" value="{{system.abilities.dexterite.pts}}" data-dtype="Number"/></span>
            <span>{{system.abilities.dexterite.value}}</span>
        </div>
    </li>
    <li>
        <h3>Charisme</h3>
        <div>
            <span><input class="pts" type="text" name="system.abilities.charisme.pts" value="{{system.abilities.charisme.pts}}" data-dtype="Number"/></span>
            <span>{{system.abilities.charisme.value}}</span>
        </div>
    </li>
</ul>