{{#ifCond actor.type "==" "character"}}<h2>{{{titreImage "Competences"}}}</h2>
{{#ifCond (nbPtsCompetences) "!=" 0}}<span class="indicateurs_pts">nb pts : {{nbPtsCompetences}}</span>{{/ifCond}}{{/ifCond}}
<ul class="competences titre">
    {{#forInRange 4 as |this i|}}
    <li>
        <div>Compétence
        {{#ifCond i '==' 0}}
            <a class="competence-control" data-action="sort"><i class="fas {{#if options.competence}}{{#ifCond options.competence "==" 1}}fa-sort-up{{else}} fa-minus{{/ifCond}}{{else}}fa-sort-down{{/if}}"></i></a>
            <input id="input-competence-control" style="display: none;" type="text" name="options.competence" value="{{options.competence}}" data-dtype="Number"/>
            <a class="arme-control" data-action="sort"><i class="fas {{#if options.arme}}fa-eye-slash{{else}}fa-eye{{/if}}"></i></a>
            <input id="input-arme-control" style="display: none;" type="text" name="options.arme" value="{{options.arme}}" data-dtype="Number"/>
            {{#if this.actor.isOwner}}
                <a class="edit" data-action="sort"><i class="fas {{#if options.edit}}fa-pen-slash{{else}}fa-pen{{/if}}"></i></a>
                <input id="input-edit-control" style="display: none;" type="text" name="options.edit" value="{{options.edit}}" data-dtype="Number"/>
            {{/if}}
        {{/ifCond}}
        </div>
        {{#if options.edit}}<div>Points</div>{{/if}}
        <div>Total</div>
        {{#if this.actor.isOwner}}{{#unless options.edit}}
        <div></div>
        {{/unless}}{{/if}}
    </li>
    {{/forInRange}}
</ul>
<ul class="competences">
    {{#eachCompetences as |competence key|}}
    {{#if (afficheCompetence competence options)}}
    <li id="{{key}}" {{#if (isCompetenceNotAvailable key)}} class="disabled" {{/if}}>
        <div>{{competence.label}}
            {{#if competence.malus_armure}}
                <i style="font-size: 0.8em; float: right" title="Compétences malusées par la charge" class="fas fa-weight-hanging"></i>
            {{/if}}
            {{#ifCond key "==" "artisanats"}}
            <a class="artisanat-control" data-action="sort"><i class="fas {{#if options.artisanat}}fa-sort-up{{else}}fa-sort-down{{/if}}"></i></a>
            <input id="input-artisanat-control" style="display: none;" type="text" name="options.artisanat" value="{{options.artisanat}}" data-dtype="Number"/>
            {{/ifCond}}
        </div>
        {{#if this.actor.isOwner}}{{#if options.edit}}
        <div>
            {{#ifCond key "!=" "artisanats"}}
            <input class="pts" {{#if (isCompetenceNotAvailable key)}}disabled="true"{{/if}} type="text" name="system.competences.{{key}}.pts" value="{{competence.pts}}" placeholder="0" data-dtype="Number"/>
            {{/ifCond}}
        </div>
        {{/if}}{{/if}}
        <div>
            {{#ifCond key "!=" "artisanats"}}
            <div class="show">
                {{#if (isCompetenceNotAvailable key)}}0{{else}}{{competence.value}}{{/if}}
            </div>
            {{#ifCond actor.type "==" "character"}}
            <div class="hide">Marge de critique : {{margeCritCompetences competence.marge_crit key}}</div>
            {{/ifCond}}
            {{/ifCond}}
        </div>
        {{#if this.actor.isOwner}}{{#unless options.edit}}
        <div>
            {{#ifCond key "!=" "artisanats"}}
            <i title="Roll !" class="button fas fa-dice-d20"></i>
            {{/ifCond}}
        </div>
        {{/unless}}{{/if}}
    </li>
    {{/if}}
    {{/eachCompetences}}
</ul>