<table class="defauts">
    <tr>
        <th>Défaut</th>
        <th class="defaut-severite">Description</th>
        <th class="defaut-precision">Précision</th>
        <th>Gain</th>
        <th><a class="defaut-control" data-action="create"><i class="fas fa-plus"></i></a></th>
    </tr>
    {{#each system.defauts as |defaut id|}}
    <tr class="defaut">
        <td>
            <select name="system.defauts.{{id}}.name">
                {{#customSelect defaut.name}}
                {{#eachChoixDefauts as |key label|}}
                    <option value="{{key}}">{{label}}</option>
                {{/eachChoixDefauts}}
                {{/customSelect}}
            </select>
        </td>
        <td>
            {{#if (lookup ../defauts.liste_defauts defaut.name)}}
            {{#with (lookup ../defauts.liste_defauts defaut.name)}}
                {{{description}}}
            {{/with}}
            {{/if}}
        </td>
        <td><textarea id="system.defauts.{{id}}.precision" name="system.defauts.{{id}}.precision" cols="36" rows="1">{{defaut.precision}}</textarea></td>
        <td>
            <select name="system.defauts.{{id}}.bonus">
                {{#customSelect defaut.bonus}}
                    <option value="">-</option>
                {{#if (lookup ../defauts.liste_defauts defaut.name)}}
                {{#each (lookup ../defauts.bonus (lookup (lookup ../defauts.liste_defauts defaut.name) "type_defaut")) as |bonus key|}}
                    <option value="{{key}}">{{bonus.label}}</option>
                {{/each}}
                {{/if}}
                {{/customSelect}}
            </select>
        </td>
        <td><a class="defaut-control" data-action="delete"><i class="fas fa-trash"></i></a></td>
    </tr>
    {{/each}}
</table>

