<h2>{{{titreImage "Dons_evolutifs"}}}</h2>
<nav class="dons_evo_tabs tabs" data-group="primary">
{{#donsEvolutifs as |id_don_evo num_don_evo|}}
    <a class="item" data-tab="{{id_don_evo}}">Don évolutif {{num_don_evo}}</a>
{{/donsEvolutifs}}
</nav>
{{!-- Sheet Body --}}
<section class="dons_evo_body">
{{#donsEvolutif as |this id_don_evo|}}
<table {{#if (isMagie this.system id_don_evo)}}class="don_evo magie tab" style="{{styleMagie id_don_evo}}" {{else}} class="don_evo tab" {{/if}} data-group="primary" data-tab="{{id_don_evo}}">
    <tr class="selector">
        <th>
            <select name="system.dons_evolutif.don_evo{{id_don_evo}}">
            {{#selectComplexe this.system.dons_evolutif 'don_evo' id_don_evo}}
                <option value="">-</option>
            {{#eachDonsEvo as |don_evo key|}}
                <option value="{{key}}">{{key}}</option>
            {{/eachDonsEvo}}
            {{/selectComplexe}}
            </select>
            <div style="text-shadow: none;">
                <div class="show info"><i class="fas fa-info-circle"></i></div>
                <div class="hide">{{{resumeCouleurDonsEvo}}}</div>
            </div>
        </th>
    </tr>
    {{#eachDonEvo id_don_evo as |rang rang_label|}}
    <tr class="titre">
        <td>{{rang_label}}</td>
    </tr>
    <tr {{#ifCond rang_label '!=' 'description'}}class="rang"{{/ifCond}}>
    {{#each rang as |this i|}}
        <td>
            <div class="header">
                {{#if this.label}}<h4 class="{{this.type}}">{{this.label}}</h4>{{/if}}
                {{#if (donEvoProperties this)}}
                    <div class="properties">
                        {{#if this.cout}}<div>Coût : {{this.cout}}</div>{{/if}}
                        {{#if this.portee}}<div>Portée : {{parsingPorteeDonEvo this.portee ../this.system (isMagie ../this.system id_don_evo)}}</div>{{/if}}
                        {{#if this.defense}}<div>Défense : {{this.defense}}</div>{{/if}}
                    </div>
                {{/if}}
            </div>
            {{#ifChoix this}}
            <div class="description">
                {{{parsingDescriptionParNiveau this.description ../this.system.basic_info.niveau}}}
            </div>
            <div class="select">
                <select name="system.choix.dons_evolutif.{{id_don_evo}}.{{rang_label}}.{{i}}">
                    {{#customSelect (lookup (lookup (lookup ../this.system.choix.dons_evolutif [id_don_evo]) [rang_label]) i)}}
                    <option value="">-</option>
                    {{#eachChoixRang this.choix ../this as |id choix|}}
                    <option value="{{id}}">{{choix.label}}</option>
                    {{/eachChoixRang}}
                    {{/customSelect}}
                </select>
            </div>
            {{#pickUpDonEvoChoosen (lookup (lookup (lookup ../this.system.choix.dons_evolutif [id_don_evo]) [rang_label]) i)}}
                <div class="properties">
                    {{#if this.cout}}<div>Coût : {{this.cout}}</div>{{/if}}
                    {{#if this.portee}}<div>Portée : {{parsingPorteeDonEvo this.portee ../../this.system (isMagie ../../this.system id_don_evo)}}</div>{{/if}}
                    {{#if this.defense}}<div>Défense : {{this.defense}}</div>{{/if}}
                </div>
                <div class="description">
                    <div>{{{parsingDescriptionParNiveau this.description ../../this.system.basic_info.niveau}}}</div>
                </div>
            {{/pickUpDonEvoChoosen}}
            {{else}}
            <div class="description">
                {{{parsingDescriptionParNiveau this.description ../this.system.basic_info.niveau}}}
            </div>
            {{/ifChoix}}
        </td>
    {{/each}}
    </tr>
    {{/eachDonEvo}}
</table>
{{/donsEvolutif}}
</section>