<h2>{{{titreImage "Dons"}}}</h2>
<table class="dons">
    <tr>
        <th>Don</th>
        <th>Effet</th>
    </tr>
    {{#donsBonus as |don|}}
    <tr>    
        <td>{{don.label}}</td>
        <td>
            <div>{{{don.description}}}</div>
        </td>
    </tr>
    {{/donsBonus}}
    {{#forInRange system.dons.nb_dons as |system i|}}
    <tr>
        <td>
            <select name="system.dons.list_dons.don{{i}}">
            {{#selectComplexe system.dons.list_dons 'don' i}}
                <option value="">-</option>
            {{#eachDons as |don key|}}
                <option value="{{key}}">{{don.label}}</option>
            {{/eachDons}}
            {{/selectComplexe}}
            </select>
        </td>
        <td>
            <div>{{{parsingDescriptionParNiveau (descriptionDon i) this.system.basic_info.niveau}}}</div>
            {{#ifChoix (lookupDon i)}}
            <div>
                <select name="system.choix.dons.{{i}}">
                    {{#customSelect (lookup ../this.system.choix.dons i)}}
                    <option value="">-</option>
                    {{#eachChoixDons this.choix ../this as |id choix|}}
                    <option value="{{id}}">{{choix.label}}</option>
                    {{/eachChoixDons}}
                    {{/customSelect}}
                </select>
            </div>
            {{/ifChoix}}
        </td>
    </tr>
    {{/forInRange}}
</table>