<table class="equipements">
    <tr>
        <th>Actif</th>
        <th>Emplacement</th>
        <th>Type Objet</th>
        <th>Materiaux</th>
        <th>Améliorations</th>
        <th>Rune</th>
        <th>Résumé des bonus</th>
        <th><a class="equipement-control" data-action="create"><i class="fas fa-plus"></i></a></th>
    </tr>
    {{#eachEquipements as |system equipement id|}}
    <tr class="equipement">
        <td>
            <input type="checkbox" name="system.equipements.{{id}}.actif" {{#if equipement.actif}}checked{{/if}}>
        </td>
        <td>
            <!--select emplacement-->
            <select name="system.equipements.{{id}}.emplacement">
                {{#customSelect equipement.emplacement}}
                {{#each equipements.emplacements as |emplacement key|}}
                    <option value="{{key}}">{{emplacement.label}}</option>
                {{/each}}
                {{/customSelect}}
            </select>
        </td>
        <td>
            <select name="system.equipements.{{id}}.type_objet">
                {{#customSelect equipement.type_objet}}
                <option value="">-</option>
                {{#eachSubEquipement 'type_objet' id as |type key|}}
                    <option value="{{key}}">{{type.label}}</option>
                {{/eachSubEquipement}}
                {{/customSelect}}
            </select>
        </td>
        <td>
            <select name="system.equipements.{{id}}.materiaux">
                {{#customSelect equipement.materiaux}}
                <option value="">-</option>
                {{#eachSubEquipement 'materiaux' id as |materiel key|}}
                    <option value="{{key}}">{{materiel.label}}</option>
                {{/eachSubEquipement}}
                {{/customSelect}}
            </select>
        </td>
        <td>
            {{#eachAmelioration equipement.amelioration as |system amelioration i|}}
            <select name="system.equipements.{{id}}.amelioration.{{i}}">
                {{#customSelect amelioration}}
                    <option value="">-</option>
                {{#eachSubEquipement 'amelioration' id as |amelio key|}}
                    <option value="{{key}}">{{amelio.label}}</option>
                {{/eachSubEquipement}}
                {{/customSelect}}
            </select>
            {{/eachAmelioration}}
        </td>
        <td>
            <select name="system.equipements.{{id}}.rune">
                {{#customSelect equipement.rune}}
                    <option value="">-</option>
                {{#each runes as |rune key|}}
                    <option value="{{key}}">{{rune.label}}</option>
                {{/each}}
                {{/customSelect}}
            </select>
            {{#if equipement.rune}}
            <select name="system.equipements.{{id}}.rune_lvl">
                {{#customSelect equipement.rune_lvl}}
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                {{/customSelect}}
            </select>
            {{/if}}
        </td>
        <td>
            {{{resumeBonus id}}}
        </td>
        <td><a class="equipement-control" data-action="delete"><i class="fas fa-trash"></i></a></td>
    </tr>
    {{/eachEquipements}}
</table>