<table class="items">
    <tr>
        <th>Objet</th>
        <th class="item-value">Valeur (Pb)</th>
        <th>Descriptif</th>
        <th class="item-poids">Poids (Kg)</th>
        <th class="item-emplacements">Emplacements</th>
        <th><a class="item-control" data-action="create"><i class="fas fa-plus"></i></a></th>
    </tr>
    {{#each system.inventaire as |item id|}}
    <tr class="item">
        <td><input class="item-name" type="text" name="system.inventaire.{{id}}.name" value="{{item.name}}"/></td>
        <td><input class="item-value" type="text" name="system.inventaire.{{id}}.value" value="{{item.value}}"/></td>
        <td><textarea class="item-description" id="system.inventaire.{{id}}.description" name="system.inventaire.{{id}}.description" cols="36" rows="1">{{item.description}}</textarea></td>
        <td><input class="item-poids" type="number" name="system.inventaire.{{id}}.poids" value="{{item.poids}}"/></td>
        <td><input class="item-emplacements" type="number" name="system.inventaire.{{id}}.emplacements" value="{{item.emplacements}}"/></td>
        <td><a class="item-control" data-action="delete"><i class="fas fa-trash"></i></a></td>
    </tr>
    {{/each}}
    <tr>
        <td colspan="2">{{{encombrement}}}</td>
        <td>
            <div class="money">
                <div class="buy_sell">
                    Total valeur<br>inventaire : <br><br>
                    {{{calculTotalMoneyFromInventory}}}
                </div>
                <div id="argent">
                    Argent<br><br>
                    <div class="po">
                        <input class="pts" type="text" name="system.money.po" value="{{system.money.po}}" data-dtype="Number"/> PO
                    </div>
                    <div class="pa">
                        <input class="pts" type="text" name="system.money.pa" value="{{system.money.pa}}" data-dtype="Number"/> PA
                    </div>
                    <div class="pc">
                        <input class="pts" type="text" name="system.money.pc" value="{{system.money.pc}}" data-dtype="Number"/> PB
                    </div>
                </div>
                {{#ifCond actor.type "==" "character"}}
                <div class="buy_sell">
                    <div>
                        Achat<br><br>
                        <div>
                            <button class="open-button achat-button" data-action="open"><i class="fa fa-store"></i></button>
                            <input id="achat-input-pop-up" style="display: none;" type="text" name="options.achatPopUp" value="{{options.achatPopUp}}" data-dtype="Number"/>
                        </div>
                    </div>
                    <div>
                        Vente<br><br>
                        <div>
                            <button class="open-button vente-button" data-action="open"><i class="fa fa-coins"></i></button>
                            <input id="achat-vente-input" style="display: none;" type="text" name="options.achatVente" value="{{options.achatVente}}" data-dtype="Number"/>
                        </div>
                    </div>
                </div>
                {{/ifCond}}
            </div>
        </td>
    </tr>
    <div class="pop-up-container pop-up-achat" {{#unless options.achatPopUp}} style="display:none" {{/unless}}>
        <div class="background" data-action="close"></div>
        <div class="pop-up">
            <button class="close-button" data-action="close"><i class="fa fa-times"></i></button>
            <br>
            <h2>{{#if options.achatVente}}Vente{{else}}Achat{{/if}}</h2>
            <div name="achat" id="achat">
                <div class="po">
                    <input class="pts" type="text" name="system.po" value={{system.po}} data-dtype="Number"/> PO
                </div>
                <div class="pa">
                    <input class="pts" type="text" name="system.pa" value={{system.pa}} data-dtype="Number"/> PA
                </div>
                <div class="pc">
                    <input class="pts" type="text" name="system.pc" value={{system.pc}} data-dtype="Number"/> PB
                </div>
                <button type="submit" class="valider">Valider</button>
            </div>
        </div>
    </div>
</table>