<div class="shield" {{#ifCond system.shield.value "<=" 0}} style="opacity: 0.5"{{/ifCond}}>
    <span>Shield : </span>
    <input type="text" name="system.shield.value" value="{{system.shield.value}}" data-dtype="Number"/>
</div>
<div class="pv">
    <span>PV : </span>
    <input type="text" name="system.health.value" value="{{system.health.value}}" data-dtype="Number"/>
    <span> / </span>
    <span>{{system.health.max}}</span>
</div>
<div class="pm">
    <span>PM : </span>
    <input type="text" name="system.mana.value" value="{{system.mana.value}}" data-dtype="Number"/>
    <span> / </span>
     <span>{{system.mana.max}}</span>
</div>
{{#if (isDonEvoAvailable "Pris de boissons" 2)}}
<div class="KI">
    <span>KI :</span>
    <input type="text" name="system.ki.value" value="{{system.ki.value}}" data-dtype="Number"/>
    <span> / </span>
    <input type="text" name="system.ki.max" value="{{system.ki.max}}" data-dtype="Number"/>
</div>
{{/if}}
{{#ifCond (isDonEvoAvailable "Épées légères" 5) "||" (isDonEvoAvailable "Épées lourdes" 5)}}
<div class="Anima">
    <span>Anima :</span>
    <input type="text" name="system.anima.value" value="{{system.anima.value}}" data-dtype="Number"/>
    <span> / </span>
    <input type="text" name="system.anima.max" value="{{system.anima.max}}" data-dtype="Number"/>
</div>
{{/ifCond}}
{{#if (isDonEvoAvailable "Archétype guerrier" 5)}}
<div class="Rage">
    <span>Rage :</span>
    <input type="text" name="system.rage.value" value="{{system.rage.value}}" data-dtype="Number"/>
    <span> / </span>
    <input type="text" name="system.rage.max" value="{{system.rage.max}}" data-dtype="Number"/>
</div>
{{/if}}