@font-face {
  font-family: 'Modesto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../../../fonts/modesto-condensed/modesto-condensed.woff2') format('woff2');
}
@font-face {
  font-family: 'Modesto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('../../../fonts/modesto-condensed/modesto-condensed-bold.woff2') format('woff2');
}
.hunaleros.sheet .actor-sheet.npc {
  background-color: #dedad2;
  background-image: url(../images/actor-sheet/parchment.jpg);
  background-repeat: repeat;
  margin: 0;
}
.hunaleros.sheet .actor-sheet.npc .sheet-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
  position: relative;
}
.hunaleros.sheet .actor-sheet.npc .sheet-header,
.hunaleros.sheet .actor-sheet.npc .sheet-header input,
.hunaleros.sheet .actor-sheet.npc .sheet-header select {
  font-family: "Modesto Condensed", "Palatino Linotype", sans-serif;
  font-size: 1.15em;
}
.hunaleros.sheet .actor-sheet.npc .sheet-header .left-panel {
  flex: 0 0 100px;
  margin-right: 10px;
}
.hunaleros.sheet .actor-sheet.npc .sheet-header .left-panel select {
  font-size: 12px;
  height: 18px;
  margin-top: 2px;
  color: #666;
  width: 100%;
}
.hunaleros.sheet .actor-sheet.npc .sheet-header .profile-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: 50% 0;
}
.hunaleros.sheet .actor-sheet.npc .sheet-header .header-fields {
  flex: 1;
}
.hunaleros.sheet .actor-sheet.npc .sheet-header .header-fields .info {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  font-weight: bold;
  font-size: 2em;
}
.hunaleros.sheet .actor-sheet.npc .sheet-header .header-fields > div > .info {
  top: 64px;
}
.hunaleros.sheet .actor-sheet.npc .sheet-header .header-fields > div > .hide {
  margin-top: 45px;
  z-index: 1;
}
.hunaleros.sheet .actor-sheet.npc .sheet-header .basic_info ul#basic_info {
  border-width: 1px 0px;
  border-style: solid;
  padding: 5px;
  display: flex;
  list-style: none;
  background-color: #000000AA;
}
.hunaleros.sheet .actor-sheet.npc .sheet-header .basic_info ul#basic_info li {
  border-width: 0 0 0 1px;
  border-style: solid;
  background-color: transparent;
}
.hunaleros.sheet .actor-sheet.npc .sheet-header .basic_info ul#basic_info li:first-child {
  border: 0;
}
.hunaleros.sheet .actor-sheet.npc .sheet-header .basic_info input,
.hunaleros.sheet .actor-sheet.npc .sheet-header .basic_info select {
  background: none;
  border: 1px solid transparent;
}
.hunaleros.sheet .actor-sheet.npc .sheet-header .basic_info input:hover,
.hunaleros.sheet .actor-sheet.npc .sheet-header .basic_info select:hover {
  border: 1px solid #111;
}
.hunaleros.sheet .actor-sheet.npc .sheet-header .basic_info input:focus,
.hunaleros.sheet .actor-sheet.npc .sheet-header .basic_info select:focus {
  background-color: black;
}
.hunaleros.sheet .actor-sheet.npc .sheet-header .basic_info input::placeholder,
.hunaleros.sheet .actor-sheet.npc .sheet-header .basic_info select::placeholder {
  opacity: 80%;
  color: currentColor;
}
.hunaleros.sheet .actor-sheet.npc .sheet-header .basic_info .age,
.hunaleros.sheet .actor-sheet.npc .sheet-header .basic_info .poid,
.hunaleros.sheet .actor-sheet.npc .sheet-header .basic_info .taille,
.hunaleros.sheet .actor-sheet.npc .sheet-header .basic_info .sexe {
  flex: 0 0 100px;
}
.hunaleros.sheet .actor-sheet.npc .sheet-header .basic_info .metier,
.hunaleros.sheet .actor-sheet.npc .sheet-header .basic_info .religion {
  flex: 0 0 200px;
}
.hunaleros.sheet .actor-sheet.npc .sheet-header .basic_info .metier select,
.hunaleros.sheet .actor-sheet.npc .sheet-header .basic_info .religion select {
  width: calc(100% - 35px);
}
.hunaleros.sheet .actor-sheet.npc .sheet-header .basic_info .race {
  flex: 1 1 auto;
}
.hunaleros.sheet .actor-sheet.npc .sheet-header .relative {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hunaleros.sheet .actor-sheet.npc .sheet-header .relative select {
  margin: auto;
}
.hunaleros.sheet .actor-sheet.npc .sheet-header .relative .info {
  margin: -1px 6px;
  position: relative;
  font-size: 1.5em;
}
.hunaleros.sheet .actor-sheet.npc .sheet-header .relative .hide {
  top: calc(100% + 5px);
  padding: 10px;
}
.hunaleros.sheet .actor-sheet.npc .sheet-header .religion .relative .hide {
  width: 500px;
  right: -5px;
}
.hunaleros.sheet .actor-sheet.npc .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
  text-align: left;
  display: flex;
}
.hunaleros.sheet .actor-sheet.npc .sheet-header h1.charname input {
  text-align: center;
  height: 100%;
  margin: 0;
  width: calc(100% - 5px);
}
.hunaleros.sheet .actor-sheet.npc .sheet-header h1.charname input.niveau {
  min-width: 50px;
  margin-left: 5px;
}
.hunaleros.sheet .actor-sheet.npc .sheet-header h1.charname div {
  display: flex;
  margin-left: 5px;
  flex: 0;
}
.hunaleros.sheet .actor-sheet.npc .sheet-header h1.charname div span {
  font-size: 1.3em;
}
.hunaleros.sheet .actor-sheet.npc .sheet-header .ressources {
  height: 45px;
  padding-top: 10px;
  text-align: center;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-around;
}
.hunaleros.sheet .actor-sheet.npc .sheet-header .ressources input {
  width: 70px;
  height: 28px;
}
.hunaleros.sheet .actor-sheet.npc .sheet-header .open-button {
  width: 32px;
  background-color: white;
  border: 1px solid;
  margin-top: 5px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.hunaleros.sheet .actor-sheet.npc .sheet-header .open-button i {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
}
.hunaleros.sheet .actor-sheet.npc .items .item-value {
  width: 55px;
}
.hunaleros.sheet .actor-sheet.npc .items .item-poids {
  width: 50px;
}
.hunaleros.sheet .actor-sheet.npc .items .item-emplacements {
  width: 110px;
}
.hunaleros.sheet .actor-sheet.npc .items input {
  margin-left: 0px;
}
.hunaleros.sheet .actor-sheet.npc .items .po input.pts,
.hunaleros.sheet .actor-sheet.npc .items .pa input.pts,
.hunaleros.sheet .actor-sheet.npc .items .pc input.pts {
  width: 4em;
}
.hunaleros.sheet .actor-sheet.npc .items .money {
  display: flex;
}
.hunaleros.sheet .actor-sheet.npc .items .money #argent {
  flex: 1 0 auto;
}
.hunaleros.sheet .actor-sheet.npc .items .money .buy_sell {
  display: flex;
}
.hunaleros.sheet .actor-sheet.npc .items .money .buy_sell div {
  padding: 0 5px;
}
.hunaleros.sheet .actor-sheet.npc .items .money .buy_sell div button {
  color: unset;
  border: none;
  font-size: 2em;
  padding: 5px;
  cursor: pointer;
}
.hunaleros.sheet .actor-sheet.npc .pop-up .pts {
  width: 150px;
}
.hunaleros.sheet .actor-sheet.npc ul.competences.titre {
  margin-top: 0.5em;
}
.hunaleros.sheet .actor-sheet.npc ul.competences.titre li {
  display: inline-flex;
  align-items: center;
  padding-left: 5px;
}
.hunaleros.sheet .actor-sheet.npc ul.competences.titre li div {
  flex: 0 0 50px;
}
.hunaleros.sheet .actor-sheet.npc ul.competences.titre li div:first-child {
  flex: 1 1 auto;
}
.hunaleros.sheet .actor-sheet.npc #competences {
  list-style: none;
}
.hunaleros.sheet .actor-sheet.npc #competences .competence-control .fa-minus {
  font-size: 0.7em;
}
.hunaleros.sheet .actor-sheet.npc #competences .show {
  padding: 10px 5px;
}
.hunaleros.sheet .actor-sheet.npc #competences .hide {
  padding: 10px 5px;
  width: 250px;
  z-index: 1;
  height: 36px;
}
.hunaleros.sheet .actor-sheet.npc #competences ul {
  columns: 4;
  max-height: 565px;
  margin: 0;
  padding: 0;
  position: relative;
}
.hunaleros.sheet .actor-sheet.npc #competences ul.titre {
  height: 36px;
}
.hunaleros.sheet .actor-sheet.npc #competences ul li {
  min-height: 36px;
  width: 100%;
  list-style: none;
}
.hunaleros.sheet .actor-sheet.npc #competences ul li:not(:last-child) {
  position: relative;
}
.hunaleros.sheet .actor-sheet.npc #competences ul li > div {
  display: inline-block;
  width: 40px;
  padding: 0px;
}
.hunaleros.sheet .actor-sheet.npc #competences ul li > div:nth-child(2) {
  border-style: solid;
  border-width: 0 1px;
  border-color: inherit;
}
.hunaleros.sheet .actor-sheet.npc #competences ul li > div:first-child {
  width: calc(100% - 100px);
  text-align: left;
  padding: 10px 0;
}
.hunaleros.sheet .actor-sheet.npc .items td,
.hunaleros.sheet .actor-sheet.npc .items th {
  padding: 5px;
  text-align: center;
  border: 1px solid #666666;
}
.hunaleros.sheet .actor-sheet.npc .items .item-value {
  width: 55px;
}
.hunaleros.sheet .actor-sheet.npc .items .item-poids {
  width: 50px;
}
.hunaleros.sheet .actor-sheet.npc .items .item-emplacements {
  width: 110px;
}
.hunaleros.sheet .actor-sheet.npc .items input {
  margin-left: 0px;
}
.hunaleros.sheet .actor-sheet.npc .statistiques th,
.hunaleros.sheet .actor-sheet.npc .statistiques td {
  padding: 5px;
}
.hunaleros.sheet .actor-sheet.npc .statistiques .d-flex {
  align-items: center;
}
.hunaleros.sheet .actor-sheet.npc .statistiques .d-flex i {
  font-size: 1.5em;
  padding-left: 5px;
}
.hunaleros.sheet .actor-sheet.npc textarea {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  border: 0;
}
.hunaleros.sheet .actor-sheet.npc h2,
.hunaleros.sheet .actor-sheet.npc nav > * {
  background-color: #333333;
  border: 0;
  color: white;
  padding: 4px 0;
  margin: 0;
  text-align: center;
  width: 100%;
}
.hunaleros.sheet .actor-sheet.npc .npc-data > tbody > tr > th,
.hunaleros.sheet .actor-sheet.npc .npc-data > tbody > tr > td {
  padding: 0;
  border: 1px solid black;
}
.hunaleros.sheet .actor-sheet.npc .npc-data > tbody > tr > td {
  background: rgba(0, 0, 0, 0.05);
}
.hunaleros.sheet .actor-sheet.npc h1 {
  text-align: center;
}
.hunaleros.sheet .actor-sheet.npc table {
  margin: 0;
  border: 0;
}
.hunaleros.sheet .actor-sheet.npc .capacite_autre {
  text-align: left;
}
.hunaleros.sheet .actor-sheet.npc .capacite_autre > div {
  display: flex;
  align-items: center;
  padding: 5px;
}
.hunaleros.sheet .actor-sheet.npc .editor,
.hunaleros.sheet .actor-sheet.npc .editor-content {
  min-height: 200px;
}
.hunaleros.sheet .actor-sheet.npc #capacite .editor,
.hunaleros.sheet .actor-sheet.npc #capacite .editor .editor-content {
  min-height: 30px;
}
.hunaleros.sheet .actor-sheet.npc #capacite .editor .tox {
  min-height: 300px;
}
.hunaleros.sheet .actor-sheet.npc nav {
  font-size: 1.4em;
  height: unset;
}
.hunaleros.sheet .actor-sheet.npc nav .active {
  text-decoration: underline;
  text-shadow: none;
}
.hunaleros.sheet .actor-sheet.npc .pop-up h2 {
  background-color: unset;
  color: unset;
}
.hunaleros.sheet .actor-sheet.character {
  background-color: black;
}
.hunaleros.sheet .actor-sheet.character #attributs {
  padding: 0 5px;
  flex: 0 0 35%;
}
.hunaleros.sheet .actor-sheet.character #attributs th:nth-child(1),
.hunaleros.sheet .actor-sheet.character #attributs td:nth-child(1) {
  text-align: left;
}
.hunaleros.sheet .actor-sheet.character #attributs .initiative i {
  float: right;
  font-size: 1.3em;
  cursor: pointer;
}
.hunaleros.sheet .actor-sheet.character #bonus {
  padding: 0 5px 0 0;
  flex: 0 1 auto;
}
.hunaleros.sheet .actor-sheet.character #bonus th:nth-child(1),
.hunaleros.sheet .actor-sheet.character #bonus td:nth-child(1) {
  text-align: left;
}
.hunaleros.sheet .actor-sheet.character #bonus .daylight-control i {
  cursor: pointer;
}
.hunaleros.sheet .actor-sheet.character #caracteristiques {
  width: 115px;
  margin: 0 5px;
  flex: 0 0 115px;
}
.hunaleros.sheet .actor-sheet.character #caracteristiques div {
  text-align: center;
  position: relative;
}
.hunaleros.sheet .actor-sheet.character #caracteristiques div span:last-child {
  font-size: 2em;
}
.hunaleros.sheet .actor-sheet.character #caracteristiques div span:first-child {
  bottom: 0;
  position: absolute;
  left: 0;
}
.hunaleros.sheet .actor-sheet.character #caracteristiques ul,
.hunaleros.sheet .actor-sheet.character #caracteristiques li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.hunaleros.sheet .actor-sheet.character #caracteristiques ul {
  margin-top: 5px;
}
.hunaleros.sheet .actor-sheet.character #caracteristiques li {
  padding: 7px 0;
  border-width: 1px 1px 0;
  border-style: solid;
}
.hunaleros.sheet .actor-sheet.character #caracteristiques li:last-child {
  border-bottom-width: 1px;
}
.hunaleros.sheet .actor-sheet.character #caracteristiques h3 {
  font-family: "Modesto Condensed", "Palatino Linotype", sans-serif;
  font-size: 1.4em;
  letter-spacing: 0.03em;
  font-weight: bold;
  border-bottom: 1px solid #FFFFFF22;
  padding: 0 0 2px;
  width: 85%;
  margin: 0 auto 5px;
}
.hunaleros.sheet .actor-sheet.character ul.competences.titre {
  margin-top: 0.5em;
}
.hunaleros.sheet .actor-sheet.character ul.competences.titre li {
  display: inline-flex;
  align-items: center;
  padding-left: 5px;
}
.hunaleros.sheet .actor-sheet.character ul.competences.titre li div {
  flex: 0 0 50px;
}
.hunaleros.sheet .actor-sheet.character ul.competences.titre li div:first-child {
  flex: 1 1 auto;
}
.hunaleros.sheet .actor-sheet.character #competences {
  list-style: none;
}
.hunaleros.sheet .actor-sheet.character #competences .competence-control .fa-minus {
  font-size: 0.7em;
}
.hunaleros.sheet .actor-sheet.character #competences .show {
  padding: 10px 5px;
}
.hunaleros.sheet .actor-sheet.character #competences .hide {
  padding: 10px 5px;
  width: 250px;
  z-index: 1;
  height: 36px;
}
.hunaleros.sheet .actor-sheet.character #competences ul {
  columns: 4;
  max-height: 565px;
  margin: 0;
  padding: 0;
  position: relative;
}
.hunaleros.sheet .actor-sheet.character #competences ul.titre {
  height: 36px;
}
.hunaleros.sheet .actor-sheet.character #competences ul li {
  min-height: 36px;
  width: 100%;
  list-style: none;
}
.hunaleros.sheet .actor-sheet.character #competences ul li:not(:last-child) {
  position: relative;
}
.hunaleros.sheet .actor-sheet.character #competences ul li > div {
  display: inline-block;
  width: 40px;
  padding: 0px;
}
.hunaleros.sheet .actor-sheet.character #competences ul li > div:nth-child(2) {
  border-style: solid;
  border-width: 0 1px;
  border-color: inherit;
}
.hunaleros.sheet .actor-sheet.character #competences ul li > div:first-child {
  width: calc(100% - 100px);
  text-align: left;
  padding: 10px 0;
}
.hunaleros.sheet .actor-sheet.character #donsEvolutif {
  padding: 0 5px;
}
.hunaleros.sheet .actor-sheet.character #donsEvolutif .passif {
  background-color: rgba(102, 102, 102, 0.4);
}
.hunaleros.sheet .actor-sheet.character #donsEvolutif .heal {
  background-color: rgba(10, 93, 10, 0.4);
}
.hunaleros.sheet .actor-sheet.character #donsEvolutif .damage {
  background-color: rgba(142, 12, 12, 0.4);
}
.hunaleros.sheet .actor-sheet.character #donsEvolutif .buff {
  background-color: rgba(104, 125, 17, 0.4);
}
.hunaleros.sheet .actor-sheet.character #donsEvolutif .debuff {
  background-color: rgba(199, 102, 45, 0.4);
}
.hunaleros.sheet .actor-sheet.character #donsEvolutif .autre {
  background-color: rgba(0, 0, 0, 0.4);
}
.hunaleros.sheet .actor-sheet.character #donsEvolutif .passif_situationnel {
  background-color: rgba(89, 133, 214, 0.4);
}
.hunaleros.sheet .actor-sheet.character #donsEvolutif .invocation {
  background-color: rgba(118, 50, 165, 0.4);
}
.hunaleros.sheet .actor-sheet.character #donsEvolutif .reaction {
  background-color: rgba(255, 255, 153, 0.4);
}
.hunaleros.sheet .actor-sheet.character #donsEvolutif .select {
  text-align: center;
}
.hunaleros.sheet .actor-sheet.character #donsEvolutif .tabs {
  height: 40px;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  flex: auto;
  margin: 4px 0;
  line-height: initial;
  background-color: #000000;
}
.hunaleros.sheet .actor-sheet.character #donsEvolutif .tabs * {
  line-height: 40px;
  font-weight: bold;
  flex: 1 0 auto;
  font-size: inherit;
  color: inherit;
  margin: 0;
}
.hunaleros.sheet .actor-sheet.character #donsEvolutif .tabs .active {
  text-decoration: underline;
  text-shadow: none;
}
.hunaleros.sheet .actor-sheet.character #donsEvolutif table.don_evo {
  text-shadow: black 2px 0px 0px, black 1.75517px 0.958851px 0px, black 1.0806px 1.68294px 0px, black 0.141474px 1.99499px 0px, black -0.832294px 1.81859px 0px, black -1.60229px 1.19694px 0px, black -1.97999px 0.28224px 0px, black -1.87291px -0.701566px 0px, black -1.30729px -1.51361px 0px, black -0.421592px -1.95506px 0px, black 0.567324px -1.91785px 0px, black 1.41734px -1.41108px 0px, black 1.92034px -0.558831px 0px;
  background-image: url('../images/magies/dices.jpg');
  color: white;
  padding-bottom: 10px;
}
.hunaleros.sheet .actor-sheet.character #donsEvolutif table.don_evo select {
  color: white;
}
.hunaleros.sheet .actor-sheet.character #donsEvolutif table.don_evo th {
  position: relative;
  border: 0;
  flex: 1;
  background-color: #000;
  color: white;
}
.hunaleros.sheet .actor-sheet.character #donsEvolutif table.don_evo th > div {
  position: absolute;
  right: 5px;
  top: 5px;
}
.hunaleros.sheet .actor-sheet.character #donsEvolutif table.don_evo th .info {
  font-weight: bold;
  font-size: 2em;
}
.hunaleros.sheet .actor-sheet.character #donsEvolutif table.don_evo th .hide {
  width: 200px;
  z-index: 1;
}
.hunaleros.sheet .actor-sheet.character #donsEvolutif table.don_evo tr:nth-child(2n) {
  background-color: transparent;
  font-weight: bold;
}
.hunaleros.sheet .actor-sheet.character #donsEvolutif table.don_evo tr:nth-child(2n+1) {
  background-color: transparent;
  display: flex;
}
.hunaleros.sheet .actor-sheet.character #donsEvolutif table.don_evo td {
  border: 0;
  flex: 1;
  position: relative;
}
.hunaleros.sheet .actor-sheet.character #donsEvolutif table.don_evo td div {
  margin: 0;
}
.hunaleros.sheet .actor-sheet.character #donsEvolutif table.don_evo .header {
  margin: 0;
  display: flex;
}
.hunaleros.sheet .actor-sheet.character #donsEvolutif table.don_evo .header h4 {
  flex: 1 1 auto;
  font-weight: bold;
  font-size: 1.12em;
}
.hunaleros.sheet .actor-sheet.character #donsEvolutif table.don_evo .header .properties {
  display: inline-flex;
  font-weight: normal;
  margin: 0;
  font-size: 0.85em;
  flex-direction: column;
}
.hunaleros.sheet .actor-sheet.character #donsEvolutif table.don_evo tr:not(.rang) .header {
  margin: 0;
}
.hunaleros.sheet .actor-sheet.character #donsEvolutif table.don_evo tr.titre td {
  padding: 10px 0;
  text-align: center;
}
.hunaleros.sheet .actor-sheet.character #donsEvolutif table.don_evo tr:nth-child(2n+1):not(.selector) {
  padding: 5px 10px;
}
.hunaleros.sheet .actor-sheet.character #donsEvolutif table.don_evo tr.rang td {
  text-align: justify;
}
.hunaleros.sheet .actor-sheet.character #donsEvolutif table.don_evo tr.rang:nth-child(2n+1) td {
  border: 1px solid;
  margin: 0 5px;
  border-radius: 10px;
  background-color: #FFFFFF30;
  padding: 0;
  overflow: hidden;
}
.hunaleros.sheet .actor-sheet.character #donsEvolutif table.don_evo tr.rang .header {
  flex-direction: column;
}
.hunaleros.sheet .actor-sheet.character #donsEvolutif table.don_evo tr.rang .header h4 {
  padding: 6px 0;
  text-align: center;
  margin: 0;
}
.hunaleros.sheet .actor-sheet.character #donsEvolutif table.don_evo tr.rang .header .properties {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid;
  border-top: 1px solid;
  padding: 3px 0;
}
.hunaleros.sheet .actor-sheet.character #donsEvolutif table.don_evo tr.rang .header .properties > div {
  flex: 0 1 auto;
  margin: 4px 10px;
}
.hunaleros.sheet .actor-sheet.character #donsEvolutif table.don_evo tr.rang .description {
  padding: 5px 8px;
  opacity: 0.95;
}
.hunaleros.sheet .actor-sheet.character #donsEvolutif table.don_evo tr.rang .properties {
  padding: 5px 7px 2px;
}
.hunaleros.sheet .actor-sheet.character #donsEvolutif table.don_evo.magie tr {
  background-color: transparent;
  color: inherit;
}
.hunaleros.sheet .actor-sheet.character #dons {
  padding: 0 5px;
}
.hunaleros.sheet .actor-sheet.character #dons th,
.hunaleros.sheet .actor-sheet.character #dons td {
  padding: 5px;
}
.hunaleros.sheet .actor-sheet.character #dons th:nth-child(1),
.hunaleros.sheet .actor-sheet.character #dons td:nth-child(1) {
  text-align: left;
}
.hunaleros.sheet .actor-sheet.character .sheet-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
  position: relative;
}
.hunaleros.sheet .actor-sheet.character .sheet-header,
.hunaleros.sheet .actor-sheet.character .sheet-header input,
.hunaleros.sheet .actor-sheet.character .sheet-header select {
  font-family: "Modesto Condensed", "Palatino Linotype", sans-serif;
  font-size: 1.15em;
}
.hunaleros.sheet .actor-sheet.character .sheet-header .left-panel {
  flex: 0 0 100px;
  margin-right: 10px;
}
.hunaleros.sheet .actor-sheet.character .sheet-header .left-panel select {
  font-size: 12px;
  height: 18px;
  margin-top: 2px;
  color: #666;
  width: 100%;
}
.hunaleros.sheet .actor-sheet.character .sheet-header .profile-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: 50% 0;
}
.hunaleros.sheet .actor-sheet.character .sheet-header .header-fields {
  flex: 1;
}
.hunaleros.sheet .actor-sheet.character .sheet-header .header-fields .info {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  font-weight: bold;
  font-size: 2em;
}
.hunaleros.sheet .actor-sheet.character .sheet-header .header-fields > div > .info {
  top: 64px;
}
.hunaleros.sheet .actor-sheet.character .sheet-header .header-fields > div > .hide {
  margin-top: 45px;
  z-index: 1;
}
.hunaleros.sheet .actor-sheet.character .sheet-header .basic_info ul#basic_info {
  border-width: 1px 0px;
  border-style: solid;
  padding: 5px;
  display: flex;
  list-style: none;
  background-color: #000000AA;
}
.hunaleros.sheet .actor-sheet.character .sheet-header .basic_info ul#basic_info li {
  border-width: 0 0 0 1px;
  border-style: solid;
  background-color: transparent;
}
.hunaleros.sheet .actor-sheet.character .sheet-header .basic_info ul#basic_info li:first-child {
  border: 0;
}
.hunaleros.sheet .actor-sheet.character .sheet-header .basic_info input,
.hunaleros.sheet .actor-sheet.character .sheet-header .basic_info select {
  background: none;
  border: 1px solid transparent;
}
.hunaleros.sheet .actor-sheet.character .sheet-header .basic_info input:hover,
.hunaleros.sheet .actor-sheet.character .sheet-header .basic_info select:hover {
  border: 1px solid #111;
}
.hunaleros.sheet .actor-sheet.character .sheet-header .basic_info input:focus,
.hunaleros.sheet .actor-sheet.character .sheet-header .basic_info select:focus {
  background-color: black;
}
.hunaleros.sheet .actor-sheet.character .sheet-header .basic_info input::placeholder,
.hunaleros.sheet .actor-sheet.character .sheet-header .basic_info select::placeholder {
  opacity: 80%;
  color: currentColor;
}
.hunaleros.sheet .actor-sheet.character .sheet-header .basic_info .age,
.hunaleros.sheet .actor-sheet.character .sheet-header .basic_info .poid,
.hunaleros.sheet .actor-sheet.character .sheet-header .basic_info .taille,
.hunaleros.sheet .actor-sheet.character .sheet-header .basic_info .sexe {
  flex: 0 0 100px;
}
.hunaleros.sheet .actor-sheet.character .sheet-header .basic_info .metier,
.hunaleros.sheet .actor-sheet.character .sheet-header .basic_info .religion {
  flex: 0 0 200px;
}
.hunaleros.sheet .actor-sheet.character .sheet-header .basic_info .metier select,
.hunaleros.sheet .actor-sheet.character .sheet-header .basic_info .religion select {
  width: calc(100% - 35px);
}
.hunaleros.sheet .actor-sheet.character .sheet-header .basic_info .race {
  flex: 1 1 auto;
}
.hunaleros.sheet .actor-sheet.character .sheet-header .relative {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hunaleros.sheet .actor-sheet.character .sheet-header .relative select {
  margin: auto;
}
.hunaleros.sheet .actor-sheet.character .sheet-header .relative .info {
  margin: -1px 6px;
  position: relative;
  font-size: 1.5em;
}
.hunaleros.sheet .actor-sheet.character .sheet-header .relative .hide {
  top: calc(100% + 5px);
  padding: 10px;
}
.hunaleros.sheet .actor-sheet.character .sheet-header .religion .relative .hide {
  width: 500px;
  right: -5px;
}
.hunaleros.sheet .actor-sheet.character .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
  text-align: left;
  display: flex;
}
.hunaleros.sheet .actor-sheet.character .sheet-header h1.charname input {
  text-align: center;
  height: 100%;
  margin: 0;
  width: calc(100% - 5px);
}
.hunaleros.sheet .actor-sheet.character .sheet-header h1.charname input.niveau {
  min-width: 50px;
  margin-left: 5px;
}
.hunaleros.sheet .actor-sheet.character .sheet-header h1.charname div {
  display: flex;
  margin-left: 5px;
  flex: 0;
}
.hunaleros.sheet .actor-sheet.character .sheet-header h1.charname div span {
  font-size: 1.3em;
}
.hunaleros.sheet .actor-sheet.character .sheet-header .ressources {
  height: 45px;
  padding-top: 10px;
  text-align: center;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-around;
}
.hunaleros.sheet .actor-sheet.character .sheet-header .ressources input {
  width: 70px;
  height: 28px;
}
.hunaleros.sheet .actor-sheet.character .sheet-header .open-button {
  width: 32px;
  background-color: white;
  border: 1px solid;
  margin-top: 5px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.hunaleros.sheet .actor-sheet.character .sheet-header .open-button i {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
}
.hunaleros.sheet .actor-sheet.character .sheet-header .ressources {
  background-color: #00000066;
}
.hunaleros.sheet .actor-sheet.character .items .item-value {
  width: 55px;
}
.hunaleros.sheet .actor-sheet.character .items .item-poids {
  width: 50px;
}
.hunaleros.sheet .actor-sheet.character .items .item-emplacements {
  width: 110px;
}
.hunaleros.sheet .actor-sheet.character .items input {
  margin-left: 0px;
}
.hunaleros.sheet .actor-sheet.character .items .po input.pts,
.hunaleros.sheet .actor-sheet.character .items .pa input.pts,
.hunaleros.sheet .actor-sheet.character .items .pc input.pts {
  width: 4em;
}
.hunaleros.sheet .actor-sheet.character .items .money {
  display: flex;
}
.hunaleros.sheet .actor-sheet.character .items .money #argent {
  flex: 1 0 auto;
}
.hunaleros.sheet .actor-sheet.character .items .money .buy_sell {
  display: flex;
}
.hunaleros.sheet .actor-sheet.character .items .money .buy_sell div {
  padding: 0 5px;
}
.hunaleros.sheet .actor-sheet.character .items .money .buy_sell div button {
  color: unset;
  border: none;
  font-size: 2em;
  padding: 5px;
  cursor: pointer;
}
.hunaleros.sheet .actor-sheet.character .pop-up .pts {
  width: 150px;
}
.hunaleros.sheet .actor-sheet.character #autre .tabs {
  height: 40px;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  flex: auto;
  margin: 4px 0;
  line-height: initial;
  background-color: #000000;
  padding: 0;
}
.hunaleros.sheet .actor-sheet.character #autre .tabs * {
  line-height: 40px;
  font-weight: bold;
  flex: 1 0 auto;
  font-size: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}
.hunaleros.sheet .actor-sheet.character #autre .tabs .active {
  text-decoration: underline;
  text-shadow: none;
}
.hunaleros.sheet .actor-sheet.character #autre .sheet-body {
  overflow: hidden;
}
.hunaleros.sheet .actor-sheet.character #autre .sheet-body .tab {
  height: 100%;
  min-height: 600px;
  overflow-y: auto;
}
.hunaleros.sheet .actor-sheet.character #autre .sheet-body .tab.biographie,
.hunaleros.sheet .actor-sheet.character #autre .sheet-body .tab.notes,
.hunaleros.sheet .actor-sheet.character #autre .sheet-body .tab.defauts {
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.4);
  margin: 5px;
  padding: 3px;
}
.hunaleros.sheet .actor-sheet.character #autre .equipements select {
  width: 100px;
}
.hunaleros.sheet .actor-sheet.character #autre .equipements ul,
.hunaleros.sheet .actor-sheet.character #autre .equipements li {
  background-color: transparent;
}
.hunaleros.sheet .actor-sheet.character #autre .defauts .defaut-precision {
  width: 300px;
}
.hunaleros.sheet .actor-sheet.character.rubis .full-sheet {
  background-image: url('../images/actor-sheet/rubis/background.jpg');
  background-size: contain;
  color: #cc9900;
}
.hunaleros.sheet .actor-sheet.character.rubis td,
.hunaleros.sheet .actor-sheet.character.rubis th,
.hunaleros.sheet .actor-sheet.character.rubis tr,
.hunaleros.sheet .actor-sheet.character.rubis li,
.hunaleros.sheet .actor-sheet.character.rubis ul {
  border-color: #591202;
}
.hunaleros.sheet .actor-sheet.character.rubis .hide {
  border-color: #591202;
  background-color: #330000;
  color: #ffff82;
  background-color: #000000CC;
}
.hunaleros.sheet .actor-sheet.character.rubis table:not(#basic_info, .don_evo) th,
.hunaleros.sheet .actor-sheet.character.rubis .titre li {
  background-color: #330000;
  color: #ffff82;
}
.hunaleros.sheet .actor-sheet.character.rubis input:focus,
.hunaleros.sheet .actor-sheet.character.rubis select:focus {
  box-shadow: 0 0 5px #880000;
}
.hunaleros.sheet .actor-sheet.character.rubis tr,
.hunaleros.sheet .actor-sheet.character.rubis ul:not(.titre) li {
  background-color: #000000;
}
.hunaleros.sheet .actor-sheet.character.rubis tr:nth-child(2n),
.hunaleros.sheet .actor-sheet.character.rubis ul:not(.titre) li:nth-child(2n) {
  background-color: #111111;
}
.hunaleros.sheet .actor-sheet.character.rubis::placeholder {
  color: #8c6900;
}
.hunaleros.sheet .actor-sheet.character.rubis input.pts {
  border-color: #8c690099;
}
.hunaleros.sheet .actor-sheet.character.rubis .notes {
  color: #cc9900;
}
.hunaleros.sheet .actor-sheet.character.emeraude .full-sheet {
  background-image: url('../images/actor-sheet/emeraude/background.jpg');
  background-size: contain;
  color: #53ca6d;
}
.hunaleros.sheet .actor-sheet.character.emeraude td,
.hunaleros.sheet .actor-sheet.character.emeraude th,
.hunaleros.sheet .actor-sheet.character.emeraude tr,
.hunaleros.sheet .actor-sheet.character.emeraude li,
.hunaleros.sheet .actor-sheet.character.emeraude ul {
  border-color: #074e07;
}
.hunaleros.sheet .actor-sheet.character.emeraude .hide {
  border-color: #074e07;
  background-color: #339966;
  color: #b8ffcf;
  background-color: #003333CC;
}
.hunaleros.sheet .actor-sheet.character.emeraude table:not(#basic_info, .don_evo) th,
.hunaleros.sheet .actor-sheet.character.emeraude .titre li {
  background-color: #137946;
  color: #b8ffcf;
}
.hunaleros.sheet .actor-sheet.character.emeraude input:focus,
.hunaleros.sheet .actor-sheet.character.emeraude select:focus {
  box-shadow: 0 0 5px #006600;
}
.hunaleros.sheet .actor-sheet.character.emeraude tr,
.hunaleros.sheet .actor-sheet.character.emeraude ul:not(.titre) li {
  background-color: #002929;
}
.hunaleros.sheet .actor-sheet.character.emeraude tr:nth-child(2n),
.hunaleros.sheet .actor-sheet.character.emeraude ul:not(.titre) li:nth-child(2n) {
  background-color: #111111;
}
.hunaleros.sheet .actor-sheet.character.emeraude::placeholder {
  color: #356111;
}
.hunaleros.sheet .actor-sheet.character.emeraude input.pts {
  border-color: #35611199;
}
.hunaleros.sheet .actor-sheet.character.emeraude h2 {
  border-bottom-color: #2e5210;
}
.hunaleros.sheet .actor-sheet.character.emeraude .notes {
  color: #53ca6d;
}
.hunaleros.sheet .actor-sheet.character.saphir .full-sheet {
  background-image: url('../images/actor-sheet/saphir/background.jpg');
  background-size: contain;
}
.hunaleros.sheet .actor-sheet.character.saphir .full-sheet,
.hunaleros.sheet .actor-sheet.character.saphir .full-sheet .notes {
  color: #aaffff;
}
.hunaleros.sheet .actor-sheet.character.saphir td,
.hunaleros.sheet .actor-sheet.character.saphir th,
.hunaleros.sheet .actor-sheet.character.saphir tr,
.hunaleros.sheet .actor-sheet.character.saphir li,
.hunaleros.sheet .actor-sheet.character.saphir ul {
  border-color: #113977;
}
.hunaleros.sheet .actor-sheet.character.saphir .hide {
  border-color: #336699;
  background-color: #004586;
  color: #ccffff;
  background-color: #000033CC;
}
.hunaleros.sheet .actor-sheet.character.saphir table:not(#basic_info, .don_evo) th,
.hunaleros.sheet .actor-sheet.character.saphir .titre li {
  background-color: #004586;
  color: #ccffff;
}
.hunaleros.sheet .actor-sheet.character.saphir input:focus,
.hunaleros.sheet .actor-sheet.character.saphir select:focus {
  box-shadow: 0 0 5px #0084d1;
}
.hunaleros.sheet .actor-sheet.character.saphir tr,
.hunaleros.sheet .actor-sheet.character.saphir ul:not(.titre) li {
  background-color: #00103A;
  /*#00103A*/
}
.hunaleros.sheet .actor-sheet.character.saphir tr:nth-child(2n),
.hunaleros.sheet .actor-sheet.character.saphir ul:not(.titre) li:nth-child(2n) {
  background-color: #001E59;
  /*#001E59*/
}
.hunaleros.sheet .actor-sheet.character.saphir::placeholder {
  color: #5f8080;
}
.hunaleros.sheet .actor-sheet.character.saphir input.pts {
  border-color: #5f808099;
}
.hunaleros.sheet .actor-sheet.character.saphir h2 {
  border-bottom-color: #406161;
}
.hunaleros.sheet .actor-sheet.character::placeholder {
  color: inherit;
  background-color: black;
  font-family: sans-serif;
  font-size: 1em;
  opacity: 0.6;
}
.hunaleros.sheet .actor-sheet.character td,
.hunaleros.sheet .actor-sheet.character th {
  border: 1px solid #666666;
}
.hunaleros.sheet .actor-sheet.character h3 {
  border: none;
  font-size: initial;
}
.hunaleros.sheet .actor-sheet.character input,
.hunaleros.sheet .actor-sheet.character select,
.hunaleros.sheet .actor-sheet.character textarea,
.hunaleros.sheet .actor-sheet.character option,
.hunaleros.sheet .actor-sheet.character optgroup {
  color: inherit;
  background-color: black;
  font-family: sans-serif;
  font-size: 1em;
}
.hunaleros.sheet .actor-sheet.character .pop-up input {
  background-color: white;
}
.hunaleros.sheet .actor-sheet.character .pop-up input.pts {
  width: 30px;
  min-width: 0;
  margin-left: 0;
  margin-right: 1em;
}
.hunaleros.sheet .actor-sheet.character tr {
  background-color: #000000;
}
.hunaleros.sheet .actor-sheet.character tr:nth-child(2n) {
  background-color: #111111;
}
.hunaleros.sheet .actor-sheet.character .img_titre {
  border: 0;
  border-radius: 0;
  height: 55px;
  padding-top: 5px;
  margin-bottom: -5px;
}
.hunaleros.sheet .actor-sheet.character .indicateurs_pts {
  padding: 5px 10px;
  display: inline-block;
  margin: -1px 0;
  background-color: #00000088;
  box-shadow: 0px 0px 3px 2px #00000088;
}
.hunaleros.sheet.item header.sheet-header img {
  flex: 0 0 125px;
  height: 125px;
  margin: 0 6px 6px 0;
}
.hunaleros.sheet.item header.sheet-header h1 input {
  height: 48px;
  line-height: 48px;
  text-align: center;
  margin: 0;
  width: 100%;
}
.hunaleros.sheet.actor {
  min-width: 1200px;
  min-height: 720px;
}
.hunaleros.sheet.item {
  min-width: 460px;
  min-height: 400px;
}
.hunaleros.sheet input[type="number"] {
  min-width: 45px;
  text-align: right;
  margin-left: 10px;
}
.hunaleros.sheet .bold {
  font-weight: bold;
}
.hunaleros.sheet .button {
  cursor: pointer;
}
.hunaleros.sheet .editor .tox {
  background-color: white;
}
.hunaleros.sheet .editor,
.hunaleros.sheet .editor .editor-content {
  height: 100%;
  min-height: 600px;
}
.hunaleros.sheet .window-content {
  height: 100%;
  padding: 0px;
  background-color: black;
  background-image: unset;
}
.hunaleros.sheet .window-content > form {
  padding: 5px;
}
.hunaleros.sheet .window-content > form:not(.character) {
  background-color: #dedad2;
  background-image: url(../images/actor-sheet/parchment.jpg);
  background-repeat: repeat;
}
.hunaleros.sheet .hide {
  display: none;
  position: absolute;
  background-color: white;
  color: black;
  padding: 5px;
  right: 0;
  border: 1px solid grey;
}
.hunaleros.sheet .show {
  cursor: pointer;
}
.hunaleros.sheet .show:hover + .hide {
  display: block;
}
.hunaleros.sheet .pop-up-container {
  position: absolute;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
}
.hunaleros.sheet .pop-up-container .background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.hunaleros.sheet .pop-up {
  background-color: white;
  color: black;
  position: relative;
  padding: 2em 2em 1em;
  margin: auto;
}
.hunaleros.sheet .pop-up div {
  margin-bottom: 1.5em;
}
.hunaleros.sheet .pop-up .close-button {
  width: 50px;
  position: absolute;
  right: -20px;
  top: -20px;
  border: 1px solid currentColor;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 100%;
  background-color: white;
}
.hunaleros.sheet .pop-up .close-button i {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  line-height: 48px;
}
.hunaleros.sheet .actor-sheet {
  font-family: sans-serif;
  text-align: center;
  margin: -5px;
}
.hunaleros.sheet table {
  border-collapse: collapse;
}
.hunaleros.sheet .full-sheet {
  padding: 5px;
}
.hunaleros.sheet .disabled {
  opacity: 0.5;
}
.hunaleros.sheet td,
.hunaleros.sheet th {
  padding: 5px;
  text-align: center;
}
.hunaleros.sheet input.pts {
  width: 2em;
  border: 1px dashed currentColor;
}
.hunaleros.sheet input.pts::placeholder {
  opacity: 100%;
  color: currentColor;
}
.hunaleros.sheet .po {
  color: #BF9F00;
}
.hunaleros.sheet .pa {
  color: #999999;
}
.hunaleros.sheet .pc {
  color: #996600;
}
.hunaleros.sheet .colonnes {
  display: flex;
}
.hunaleros.sheet .colonnes > div {
  flex: 0 1 50%;
}
.hunaleros.sheet .colonnes > div:first-child {
  border-right: 1px solid;
}
.hunaleros.sheet .colonne {
  display: inline-block;
  width: 50%;
  padding: 0 5px;
}
.d-flex {
  display: flex;
}
